{% extends 'base.html.twig' %}

{% block title %}Community forum{% endblock %}
{% block body %}

    <!-- Main Content -->
    <div class="nk-page-background" data-bg-mp4="../video/harrowing.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax xsmall" style="background: none;">

        <div class="info">
            <div>
                <div class="container">
                    <h1>Report a scammer</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->


    <div class="container youplay-content">

        <div class="col-md-12">

            <!-- Breadcrumb -->
            <div class="mt-10 pull-left">
                <a href="{{ path('homepage') }}">Home</a>
                <span class="fa fa-angle-right"></span>
                <span>Forum</span>
                {% for flashMessage in app.session.flashbag.get('error') %}
                    {{ flashMessage }}
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('success') %}
                    {{ flashMessage }}
                {% endfor %}
            </div>
            <!-- /Breadcrumb -->

            <!-- Search -->
            <form action="search.html" class="pull-right">
                <p>Search:</p>
                <div class="youplay-input pull-left">
                    <input type="text" name="search">
                </div>
                <button class="btn btn-primary pull-right">Search</button>
            </form>
            <!-- /Search -->

            <div class="clearfix"></div>

            <!-- Forums List -->
            <ul class="youplay-forum mr-10">
                <li class="header">
                    <ul>
                        <li class="cell-icon"></li>
                        <li class="cell-info">Category</li>
                        <li class="cell-topic-count">Topics</li>
                        <li class="cell-reply-count">Posts</li>
                        <li class="cell-freshness">Freshness</li>
                    </ul>
                </li>

                <li class="body">
                    {% for category in categorys %}
                        <ul>
                            <li class="cell-icon">
                                <i class="fa fa-folder-open-o"></i>
                            </li>
                            <li class="cell-info">
                                <a href="{{ path('topic', {'cat_id': category.id}) }}" class="title h4">{{category.cat_name}}</a>

                                <div class="description">{{category.cat_description}}</div>
                                <ul class="forums-list">
                                    <li><i class="fa fa-folder-open-o"></i> Boosting scam</li>
                                    <li><i class="fa fa-folder-open-o"></i> bad buyers</li>

                            </li>
                        </ul>
                    </li>
                    <li class="cell-topic-count">{{category.cat_topic_sum}}</li>
                    <li class="cell-reply-count">{{category.cat_post_sum}}</li>
                        {% if category.path == NULL %}
                        <li class="cell-freshness" >Not yet</li>
                        {% else %}
                        <li class="cell-freshness">
                            <a href="#!">{{category.last_topic_date|time_ago_in_words}}</a>
                            <p>
                                <a href="#!">
                                    <img alt="" src="{{category.path}}" height="25" width="25">{{category.last_topic_by_user_name}}
                                </a>
                            </p>
                        </li>
                    {% endif %}
                </ul>
            {% endfor %}
            <!-- /Forums List -->

            <div class="clearfix"></div>
        </div>


    </div>
    <!-- /Main Content -->

{% endblock %}