{% extends 'base.html.twig' %}

{% block title %}Edit Topic{% endblock %}
{% block body %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
     <style type="text/css">
        #example .even { background-color: transparent !important;    border-color: rgba(255,255,255,.1);}
        #example .odd { background-color: transparent !important;}
        #example.dataTable.order-column { background-color: transparent !important;}
        tr{ background-color: transparent !important;}
        th:hover {text-shadow:
               0 0px 2px rgba(255,255,255,.1),
               0 0 10px rgba(255,255,255,.1),
               0 0px 6px rgba(255,255,255,.3),
               0 0px 10px rgba(255,255,255,.2),
               0 0px 20px rgba(255,255,255,.25),
               0 0px 20px rgba(255,255,255,.2),
               0 0px 40px rgba(255,255,255,.15) !important; }
        #example > tbody > tr > td { border-top: 1px solid rgba(255, 255, 255, 0.5)}
        table.dataTable tr.odd { background-color: transparent !important;     border-top: 1px solid rgba(255, 255, 255, 0.5);}
        table.dataTable tr.even { background-color: transparent !important;     border-top: 1px solid rgba(255, 255, 255, 0.5);} 
        table.dataTable.order-column tbody tr{ background-color: transparent !important; } 
        table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 { background-color: transparent !important; }
        .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate { color: white!important; }
        label, .dataTables_info, #example_previous, #example_next, #example_previous { color: white!important; }
        table button {
          background: transparent none repeat scroll 0 0;
          color: white;
          line-height: inherit;
          margin: 0; }
        input, textarea, select {
          content: '';
          background: rgba(255, 255, 255, 0.1);
          color: white;
          outline: none;
          -webkit-transform: skew(-7deg);
              -ms-transform: skew(-7deg);
               -o-transform: skew(-7deg);
                  transform: skew(-7deg);
          -o-transition: .3s background ease;
             transition: .3s background ease; }
        select option {
          background: rgba(0, 0, 0, 1.0); }
        label.input-filled input {
          background: rgba(255, 255, 255, 0.25); }
        label select {
          cursor: pointer; }
        td.details-control {
          background: url('{{asset('image/arrow-down.png')}}') no-repeat center center;
          cursor: pointer; }
        td.details-control:hover {
          background: url('{{asset('image/arrow-down-hover.png')}}') no-repeat center center;
          cursor: pointer; }
        tr.details td.details-control {
          background: url('{{asset('image/arrow-right.png')}}') no-repeat center center; }
        tr.details td.details-control:hover {
          background: url('{{asset('image/arrow-right-hover.png')}}') no-repeat center center; }
        .paginate_button {
          content: '';
          position: relative;
          margin-left: 10px;
          margin-right: 10px;
          padding: 10px 30px;
          z-index: 1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transform: skew(-7deg);
              -ms-transform: skew(-7deg);
               -o-transform: skew(-7deg);
                  transform: skew(-7deg);
          border: 2px solid #fff!important;
          background: none;
          -o-transition: .3s background ease, .3s border ease;
             transition: .3s background ease, .3s border ease; }
        .dataTables_wrapper .dataTables_paginate .paginate_button {
          color: #fff!important;
          border-radius: 0px; }
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
          background: #D92B4C;
          border: 2px solid #D92B4C!important;
          -webkit-transform: skew(-7deg);
              -ms-transform: skew(-7deg);
               -o-transform: skew(-7deg);
          transform: skew(-7deg); }
          .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
          border: none!important; }
          .dataTables_wrapper .dataTables_paginate .paginate_button.current {
          background: #D92B4C!important;
          border: 2px solid #D92B4C!important;
          color: #fff!important; }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
          color: #fff!important;
          cursor: default; }
        .youplay-form {
          background: rgba(0, 0, 0, 0.6); }
    </style>
{% endblock %}
  <!-- Main Content -->
      <div class="nk-page-background" data-bg-mp4="../../../video/harrowing.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax xsmall" style="background: none;">

      <div class="info">
        <div>
          <div class="container">
            <h1>Edit Topic</h1>
               {% for flashMessage in app.session.flashbag.get('error') %}
                  {{ flashMessage }}
              {% endfor %}
      
              {% for flashMessage in app.session.flashbag.get('success') %}
                  {{ flashMessage }}
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->


    <div class="container youplay-content">

   

       <!-- Forums List -->
        <ul class="youplay-forum mr-10">
   
          <li class="body">

            <!-- <ul class="sticky" style="padding: 3rem 2rem; text-align:center">
              <div class=" col-sm-10 col-sm-offset-1" >
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus ut orci ac maximus. Pellentesque felis enim, tristique eget aliquet in, congue ac massa. Integer lobortis consequat lobortis. Fusce consequat porttitor urna vitae facilisis. In ac mauris sit amet elit volutpat malesuada id vitae sapien. Etiam vestibulum in mi ac congue. In nisl odio, tristique at nisl sit amet, vehicula viverra mauris. Morbi ut orci tincidunt, sollicitudin sem quis, eleifend magna.</p>
              </div>
            </ul>-->

            <ul style="padding: 3rem 2rem;">
                 <div class="col-md-8 col-md-offset-1">
                  {{ form_start(editTopic) }}
          <!-- Contact Form -->
          <div class="youplay-form">
            <h2 class="mt-0">Details</h2>
            {% if editTopicErrors %}                    
                {% for item in editTopicErrors %}
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="alert alert-danger" style="text-align:center">
                            {{ item }}
                        </div>
                    </div>
                {% endfor %}     
            {% endif %}

           
              <div class="row">
                <div class="col-md-12">
                  <div class="youplay-input form-group">
                    {{ form_widget(editTopic.topic_name, { 'attr': {'value': topic.topicName} }) }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    {{ form_widget(editTopic.scamer_name, { 'attr': {'value': topic.scamerName} }) }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    {{ form_widget(editTopic.scammer_IGN, { 'attr': {'value': topic.scammerIGN} }) }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    {{ form_widget(editTopic.scammer_email, { 'attr': {'value': topic.scammerEmail} }) }}
                  </div>
                </div>
        
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                   {{ form_widget(editTopic.scammer_skype, { 'attr': {'value': topic.scammerSkype} }) }}
                  </div>
                </div>
                 <div class="col-md-12">
                  <div class="youplay-input form-group">
                   {{ form_widget(editTopic.scammer_contactApp) }}
                  </div>
                </div>
                  <div class="col-md-12">
                  <div class="youplay-input form-group">
            
                   {{ form_widget(editTopic.brochure) }}
                  </div>
                </div>

                 <div class="row table-responsive youplay-form" style="background: none; padding-top: 0px; padding-bottom: 0px;">
                    <table id="example" class="row-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Name</th>
                                <th>Action</th>
                                <th>Create</th>
                            </tr>
                        </thead>
                        <tbody>              
                            <tr>
                                <th>id</th>
                                <th>Name</th>
                                <th>Action</th>
                                <th>Create</th>
                            </tr>     
                        </tbody>
                    </table>
                </div>

              </div>



          </div>
          <!-- /Contact Form -->
        </div>
                   
         <div class="col-md-3">
          <h2 class="mt-0">Info</h2>
          <p>Please make sure the information you submitted to our website accurately reflects the outcome of the situation.</p>
          <br>
          <p>Please do not use abusive wording because your topic may be deleted.</p>
        </div>
        <div>
              <div class="col-md-10 col-sm-offset-1 mt-60">
                {{ form_widget(editTopic.story) }}
               <div class="col-md-2 col-sm-offset-5">
              <button type="submit" class="btn btn-success">Submit</button>
               </div>
               <div style="display:none">
            {{ form_rest(editTopic) }}
          </div>
             {{ form_end(editTopic) }}
           </div>

            </ul>

          </li>

        </ul>
        <!-- /Forums List -->       
        <div class="clearfix"></div>
      </div>
    </div>
  <!-- /Main Content -->

{% endblock %}
{% block javascripts %}
    {{ tinymce_init() }}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           $("#example").DataTable({
                "language": {
                       "emptyTable": "No related image for this topic"
                },
                "responsive": true,
                "searching": false,
                "paging":   false,
                "ordering": false,
                "info":     false,
                "ajax": {
                    type: "POST",  
                    url: "{{path('GetFilesJson')}}",
                    data: {id:{{topic.id}}},
                    dataSrc: "",
                    dataType:'json',
                    cache: false
                },   
                "columnDefs": [
                    { "name": "id" },
                    {"name": "imageOriginalName" },
                    {"name": "action" },
                    {"name": "createdAt" } 
                ],
                "columns": [
                    { "data": "id" },
                    { "data": "imageOriginalName" },
                    { 
                        "data": null, 
                            render: function (data, type, row) {
                            return  "<button class='btn btn-error' id='finishHim' data-id='"+row.id+"'>Delete</button>";
                        }
                    },
                    {"data": "createdAt" }
                ]
            });
            $('#example').on( 'click', '#finishHim', function (e) {

                e.preventDefault();
                 var data = $(this).attr("data-id");
                 var data = {request : data};
                 var url = "{{ path('removeFiles') }}";
                 var formSerialize = $(this).serialize();

                $.post(url, data, function(response) {
                    if(response['return'] == 1){
                        $('#example').DataTable().ajax.reload(null, false);
                         toastr["success"](response['msg']);
                    }else{
                         toastr["error"](response['msg']);
                    }
                 }, 'JSON');
            });
       });
    </script>

  <script type="text/javascript">
    document.getElementsByTagName('video')[0].volume = 0.00;
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.btn-mute').addClass('none');
    });
  </script>

  <script type="text/javascript">
    function callback_tinymce_init(editor) {
      tinyMCE.activeEditor.setContent('{{topic.story| raw}}');
    }
</script>
  
 {% endblock %}
