{% extends 'base.html.twig' %}

{% block title %}Edit post{% endblock %}
{% block body %}

  <!-- Main Content -->
      <div class="nk-page-background" data-bg-mp4="../../../video/harrowing.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax xsmall" style="background: none;">

      <div class="info">
        <div>
          <div class="container">
            <h1>Edit post</h1>
               {% for flashMessage in app.session.flashbag.get('error') %}
                  {{ flashMessage }}
              {% endfor %}
      
              {% for flashMessage in app.session.flashbag.get('success') %}
                  {{ flashMessage }}
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->


    <div class="container youplay-content">
       <!-- Forums List -->
        <ul class="youplay-forum mr-10">
          <li class="body">

            <ul style="padding: 3rem 2rem;">
              {{ form_start(editPost) }}
                  <div class="col-md-12">
                      <h2 class="mt-0">Info</h2>
                      <p>Please make sure the information you submitted to our website accurately reflects the outcome of the situation.</p>
                      <p>Please do not use abusive wording because your topic may be deleted.</p>
                  </div>
          
          {% if post_error %}                    
                {% for item in post_error %}
                    <div class="col-sm-12">
                        <div class="alert alert-danger" style="text-align:center">
                            {{ item }}
                        </div>
                    </div>
                {% endfor %}     
            {% endif %}
                  <div class="col-md-10 col-sm-offset-1 mt-60">
                      {{ form_widget(editPost.post_content) }}
                      <div class="col-md-2 col-sm-offset-5">
                          <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                      <div style="display:none">
                          {{ form_rest(editPost) }}
                      </div>
                      {{ form_end(editPost) }}
                </div>
            </ul>
          </li>
        </ul>
        <!-- /Forums List -->
        <div class="clearfix"></div>
    </div>
  <!-- /Main Content -->

{% endblock %}


{% block javascripts %}

  <script type="text/javascript">
    document.getElementsByTagName('video')[0].volume = 0.00;
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.btn-mute').addClass('none');
    });
  </script>

  <script type="text/javascript">
      function callback_tinymce_init(editor) {
          tinyMCE.activeEditor.setContent('{{post.postContent| raw}}');
      }
  </script>
  {{ tinymce_init() }}
{% endblock %}
