{% extends 'base.html.twig' %}

{% block title %}New topic{% endblock %}
{% block body %}

  <!-- Main Content -->
      <div class="nk-page-background" data-bg-mp4="../../../../video/harrowing.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax xsmall" style="background: none;">

      <div class="info">
        <div>
          <div class="container">
            <h1>New topic</h1>
               {% for flashMessage in app.session.flashbag.get('error') %}
                  {{ flashMessage }}
              {% endfor %}
      
              {% for flashMessage in app.session.flashbag.get('success') %}
                  {{ flashMessage }}
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->


    <div class="container youplay-content">

   

       <!-- Forums List -->
        <ul class="youplay-forum mr-10">
   
          <li class="body">

            <!-- <ul class="sticky" style="padding: 3rem 2rem; text-align:center">
              <div class=" col-sm-10 col-sm-offset-1" >
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus ut orci ac maximus. Pellentesque felis enim, tristique eget aliquet in, congue ac massa. Integer lobortis consequat lobortis. Fusce consequat porttitor urna vitae facilisis. In ac mauris sit amet elit volutpat malesuada id vitae sapien. Etiam vestibulum in mi ac congue. In nisl odio, tristique at nisl sit amet, vehicula viverra mauris. Morbi ut orci tincidunt, sollicitudin sem quis, eleifend magna.</p>
              </div>
            </ul>-->

            <ul style="padding: 3rem 2rem;">
                 <div class="col-md-8 col-md-push-4">
                  {{ form_start(newTopic) }}
          <!-- Contact Form -->
          <div class="youplay-form">
            <h2 class="mt-0">Details</h2>
              {% if topicErrors %}                    
                {% for item in topicErrors %}
                    <div class="col-sm-12">
                        <div class="alert alert-danger" style="text-align:center">
                            {{ item }}
                        </div>
                    </div>
                {% endfor %}     
            {% endif %}
           
              <div class="row">
                <div class="col-md-12">
                  <div class="youplay-input form-group">
                    {{ form_widget(newTopic.topic_name) }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    {{ form_widget(newTopic.scamer_name) }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    {{ form_widget(newTopic.scammer_IGN) }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    {{ form_widget(newTopic.scammer_email) }}
                  </div>
                </div>
            
             
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                   {{ form_widget(newTopic.scammer_skype) }}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="youplay-input form-group">
                   {{ form_widget(newTopic.scammer_contactApp) }}
                  </div>
                </div>
                  <div class="col-md-12">
                  <div class="youplay-input form-group">
            
                   {{ form_widget(newTopic.brochure) }}
                  </div>
                </div>

              </div>



          </div>
          <!-- /Contact Form -->
        </div>
         <div class="col-md-3 col-md-pull-7" style="padding-top: 4rem;">
          <h2 class="mt-0">Info</h2>
          <p>Please make sure the information you submitted to our website accurately reflects the outcome of the situation.</p>
          <br>
          <p>Please do not use abusive wording because your topic may be deleted.</p>
        </div>
        <div>
              <div class="col-md-10 col-sm-offset-1 mt-60">
                {{ form_widget(newTopic.story) }}
                <div class="gap"></div>
               <div class="col-md-2 col-sm-offset-5">
              <button type="submit" class="btn btn-success">Submit</button>
               </div>
               <div style="display:none">
            {{ form_rest(newTopic) }}
          </div>
             {{ form_end(newTopic) }}
           </div>

            </ul>

            

          </li>


        </ul>
        <!-- /Forums List -->



        <div class="clearfix"></div>
      </div>


    </div>
  <!-- /Main Content -->

{% endblock %}
{% block javascripts %}

  <script type="text/javascript">
    document.getElementsByTagName('video')[0].volume = 0.00;
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.btn-mute').addClass('none');
    });
  </script>

  <script type="text/javascript">
    function callback_tinymce_init(editor) {
      tinyMCE.activeEditor.setContent('New post');
    }
  </script>
    {{ tinymce_init() }}
{% endblock %}
