{% extends 'base.html.twig' %}

{% block title %}{{topic_name}}{% endblock %}
{% block body %}
    {% block stylesheets %}
        <style type="text/css">
        .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
            color: white !important;
            cursor: not-allowed !important;
            background-color: transparent !important;
            border-color: transparent !important;
        }
        .youplay-post .news-one .angled-img, .youplay-post .news-one .youplay-slider{
          max-width: 190px;}
        </style>
    {% endblock %}
	 <!-- Main Content -->
      <div class="nk-page-background" data-bg-mp4="../../../video/harrowing.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax xsmall" style="background: none;">

      <div class="info">
        <div>
          <div class="container">
            <h1>{{topic_name}}</h1>
             {% for flashMessage in app.session.flashbag.get('error') %}
                  {{ flashMessage }}
              {% endfor %}
      
              {% for flashMessage in app.session.flashbag.get('success') %}
                  {{ flashMessage }}
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

    <div class="container youplay-content">

      <div class="col-md-12">
           {% if post_errors %}                    
                {% for item in post_errors %}
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="alert alert-danger" style="text-align:center">
                            {{ item }}
                        </div>
                    </div>
                {% endfor %}     
            {% endif %}
        <!-- Breadcrumb -->
        <div class="mt-10 mb-20 pull-left">
          <a href="{{ path('homepage') }}">Home</a>
          <span class="fa fa-angle-right"></span>
          <a href="{{ path('forum') }}">Forum</a>
          <span class="fa fa-angle-right"></span>
         <a href="{{ path('topic', {'cat_name': categoryName, 'cat_id': categoryId}) }}">{{categoryName}}</a>
          <span class="fa fa-angle-right"></span>
          <span class="y">{{topic_name}}</span>
        </div>
        <!-- /Breadcrumb -->

        <div class="clearfix"></div>

     

        <!-- Forums List -->
          <ul class="youplay-forum mr-10">
  
              <li class="body">
    
                  <div style="">
                      <div class="top">
                          <a class="author h5 pull-left" href="#!">{{topic[0].getTopicByName()}}</a>
                          <div class="date pull-right" ><i class="fa fa-calendar"></i><span  style="margin-right:10px">{{topic[0].getCreatedAt()|time_ago_in_words}} </span>
                              {% if topic[0].lastEditTime != null %}  
                                  <div class="pull-right"> (last edit {{topic[0].lastEditTime|time_ago_in_words}})</div>
                              {% endif %}
                          </div>
                      </div>
                      <div class="avatar pull-left">
                          <img src="{{topic[0].path}}" alt="">
                      </div>
                      <div class="reply clearfix">
                          <div class="text">
                              {{ topic[0].getStory()| raw}}
                          </div>
                          <div class=" clearfix"> <h2 class="h3">Details</h2> </div>
                          <table class="table table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <th>Nickname</th>
                                      <th>IGN</th>
                                      <th>Email</th>
                                      <th>Skype</th>
                                      <th>Contact app</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>{% if topic[0].getScamerName() == NULL %}Unknown{% else %}{{topic[0].getScamerName()}}{% endif %}</td>
                                      <td>{% if topic[0].getScammerIGN() == NULL %}Unknown{% else %}{{topic[0].getScammerIGN()}}{% endif %}</td>
                                      <td>{% if topic[0].getScammerEmail() == NULL %}Unknown{% else %}{{topic[0].getScammerEmail()}}{% endif %}</td>
                                      <td>{% if topic[0].getScammerSkype() == NULL %}Unknown{% else %}{{topic[0].getScammerSkype()}}{% endif %}</td>
                                      <td>{% if topic[0].getScammerContactApp() == NULL %}Unknown{% else %}{{topic[0].getScammerContactApp()}}{% endif %}</td>
                                  </tr>
                              </tbody>
                          </table>
                          
                        <!-- Images With Text -->
                       
                      <div class=" youplay-news youplay-post">
                        <article class="news-one">
                          <div class="align-center">
                                {% for file in files %}
                            <a href="{{asset('uploads/brochures/'~ file.imagePath ~ file.brochure)}}" class="angled-img image-popup mr-0">
                              <div class="img">
                                <img src="{{asset('uploads/brochures/'~ file.imagePath ~ file.brochure)}}" alt="">
                              </div>
                              <i class="fa fa-search-plus icon"></i>
                            </a>
                               {% endfor %}
                           
                          </div>
                        </article>
                      </div>
                             
                        <!-- /Images With Text -->

                          <div class=" clearfix"> <h2 class="h3" style="text-align:center">Related topics</h2></div>

                                 {% if searches == true %}

                             {% for search in searches %}
                             <div style="text-align:center">
                            <a href="{{ path('singleTopic', {'topic_id': search.id}) }}" class="">{{ search.getTopicName }}</a>
                          </div>

                          {% else %}
                               {% endfor %}
                  {% endif %}

{% if app.user.id == topic[0].topicBy %}
 <div class="pull-right"><a href="{{ path('editTopic', {'topic_id': topic[0].id } ) }}" class="">Edit</a></div>
{% endif %}


                      </div>
                  </div>
    
                  {% if pagination == true %}
                      {% for post in pagination %}
                          <div>
                              <div class="top">
                                  <a class="author h5 pull-left" href="#!">{{post.userName}}</a>
                                  <div class="date pull-right"><i class="fa fa-calendar"></i>{{post.createdAt|time_ago_in_words}}
                                      {% if post.lastEditTime != null %}  
                                          <div class="pull-right"> (last edit {{post.lastEditTime|time_ago_in_words}})</div>
                                      {% endif %}
                                  </div>
                              </div>
              
                              <div class="avatar pull-left">
                                  <img src="{{post.path}}" alt="">
                              </div>
                              <div class="reply clearfix">
                                  <div class="text" style="word-wrap: break-word;">
                                      {{post.postContent| raw}}
                                  </div>
                                 <!--  <a href="#!" class="pull-right">Reply</a> -->
                               
                              </div>
                                 {% if post.postby == app.user.id %}  
                                   <div class="pull-right"><a href="{{ path('editPost', {'post_id': post.id } ) }}" class="">Edit</a></div>
                              {% endif %}
                          </div>
                      {% endfor %}
                  {% endif %}

                  <hr width="50%" align="center" style="margin-top:60px">
                
                  <div class="col-md-10 col-md-offset-1 mb-50 clearfix"> <h2 class="h3">Leave a comment</h2>
                  {{ form_start(post_form, {attr: {novalidate: 'novalidate'}}) }} 
                      {{ form_widget(post_form.post_content) }}
                          <div class="form-group">
                              <div class="col-sm-2 col-sm-offset-9">
                                  <button type="submit" class="btn btn-success">Post</button>
                              </div>
                          </div>
                  {{ form_end(post_form) }}
                  </div>
              </li>
          </ul>
      </div>
               

          

        
        <!-- /Forums List -->


        <div class="clearfix"></div>

<div class="navigation text-center" style="">
    {{ knp_pagination_render(pagination) }}
</div>
      </div>


    </div>
  <!-- /Main Content -->
{% endblock %}
{% block javascripts %}

  <script type="text/javascript">
    document.getElementsByTagName('video')[0].volume = 0.00;
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.btn-mute').addClass('none');
    });
  </script>

<script type="text/javascript">
  function callback_tinymce_init(editor) {
      tinyMCE.activeEditor.setContent('New post');
  }
</script>
    {{ tinymce_init() }}
{% endblock %}