{% extends 'base.html.twig' %}

{% block title %}{{categoryName}}{% endblock %}
{% block body %}
    {% block stylesheets %}
  <style type="text/css">

     .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
       color: white !important;
    cursor: not-allowed !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

  </style>
{% endblock %}
	<!-- Main Content -->
      <div class="nk-page-background" data-bg-mp4="../../../../video/harrowing.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax xsmall" style="background: none;">
      <div class="info">
        <div>
          <div class="container">
            <h1>{{categoryName}}</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->


    <div class="container youplay-content">

      <div class="col-md-12">

        <!-- Breadcrumb -->
        <div class="mt-10 mb-20 pull-left">
          <a href="{{ path('homepage') }}">Home</a>
          <span class="fa fa-angle-right"></span>
          <a href="{{ path('forum') }}">Forum</a>
          <span class="fa fa-angle-right"></span>
          <span class="">{{categoryName}}</span>
        </div>
        <!-- /Breadcrumb -->

        <div class="clearfix"></div>

        <!-- Forums List -->
        <ul class="youplay-forum mr-10">
          <li class="header">
            <ul>
              <li class="cell-icon"></li>
              <li class="cell-info">Topic</li>
              <li class="cell-topic-count">Voices</li>
              <li class="cell-reply-count">Posts</li>
              <li class="cell-freshness">Freshness</li>
            </ul>
          </li>

          <li class="body">
{% if pagination == false %}
	<p style="text-align:center">{{categoryName}} is empty.</p>
{% else %}
{% for topic in pagination %}
            <ul>
              <li class="cell-icon">
                <i class="fa fa-folder-open-o"></i>
              </li>
              <li class="cell-info">
                <a href="{{ path('singleTopic', {'topic_id': topic.id}) }}" class="title h4">{{topic.topicName}}</a>
                <div class="description">
                  Started by: <a href="#!">{{topic.topicByName}}</a>
          
                </div>
              </li>
              <li class="cell-topic-count">{{topic.catVoicesSum}}</li>
              <li class="cell-reply-count">{{topic.catPostSum}}</li>
              <li class="cell-freshness">
                {% if topic.lastPostByUserId != NULL %}
                    <a href="#!">{{topic.lastPostDate|time_ago_in_words}}</a>
                    <p>
                      <a href="#!">
                        <img alt="" src="{{topic.path}}" height="25" width="25">{{topic.lastPostByUserName}}
                      </a>
                    </p>
                  {% else %}
                    Not yet
                 {% endif %}
              </li>
            </ul>
  {% endfor %}
          {% endif %}
          </li>

        </ul>
        <!-- /Forums List -->

        <div class="clearfix"></div>
      </div>
      <div class="col-md-12 col-sm-offset-5 mb-50">
      <a href="{{ path('newTopic', {'cat_id': categoryId}) }}" class="btn btn-success">New topic</a>
</div>
<div class="navigation text-center" style="">
    {{ knp_pagination_render(pagination) }}
</div>
    </div>
  <!-- /Main Content -->
{% endblock %}
