{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}
{% block body %}

	<!-- Main Content --> 
      <div class="nk-page-background" data-bg-mp4="../video/darkin-kayn.mp4"></div>
    <!-- Banner -->
      <div class="youplay-banner youplay-banner-parallax banner-top small" style="background: none;">
          <div class="info">
              <div>
                  <div class="container">
                      <h1>News</h1>
                          {% for flashMessage in app.session.flashbag.get('error') %}
            	      		     {{ flashMessage }}
	 	      	      	      {% endfor %}
	 	      	      
	 	      	      	      {% for flashMessage in app.session.flashbag.get('success') %}
            	      	     	    {{ flashMessage }}
	 	      	      	     {% endfor %}
                  </div>
              </div>
          </div>
      </div>
      <!-- /Banner -->
  
      <div class="container youplay-content mb-100">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <!-- Activity -->
                  <h2 class="mt-0">Latest Activity</h2>
                  <div class="youplay-timeline">
                      {% if news is empty %}
                          There are no new messages
                      {% else %}
                          {% for new in news %}
                              <div class="youplay-timeline-block alert">
                                  <div class="youplay-timeline-icon" style="background: transparent;">
                                      <img src="{{ new.path }}">
                                  </div>
                                  <div class="youplay-timeline-content">
                                      <h3 class="mb-0">{{ new.n_message_name }}</h3>
                                      <span class="youplay-timeline-date pt-0">{{new.n_Created_at|time_ago_in_words}}</span>
                                      <div class="col-sm-10" style="word-wrap: break-word">
                                          {{new.content| raw}}{% if new.content_length > 100 %} ... {% endif %}
                                      </div>
                                      <div class="col-sm-2 "style="text-align:center">
                                          {% if new.n_message_type == 1 or new.n_message_type == 2 %}
                                               <a href='{{ path('singleTopic', {'topic_id': new.n_topic_id }) }}' class="btn btn-success btn-sm">More Details</a>
                                          {% elseif new.n_message_type == 3 %}
                                              <a href='' class="btn btn-primary btn-sm">More Details</a>
                                          {% endif %}
                                      </div>
                                  </div>
                              <!-- /content -->
                              </div>
            
                          {% endfor %}
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  <!-- /Main Content -->
{% endblock %}

