{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}
{% block body %}
	 <!-- Main Content -->
  <section class="content-wrap full youplay-404" style="background: none;">
    <div class="nk-page-background" data-bg-mp4="../video/arcade.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top" style="background: none;">

      <div class="info">
        <div>
          <div class="container align-center">
            <h2 class="h1">Oops! An Error Occurred</h2>
            <h3>The server returned a "{{ status_code }} {{ status_text }}".</h3>

          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

  </section>
  <!-- /Main Content -->
{% endblock %}