{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}
{% block body %}

	<!-- Main Content --> 
        <div class="nk-page-background" data-bg-mp4="../video/lee.mp4"></div>
    <!-- Banner -->
        <div class="youplay-banner youplay-banner-parallax banner-top small" style="background: none;">
            <div class="info">
                <div>
                    <div class="container">
                        <h1>Shop</h1>
                       	{% for flashMessage in app.session.flashbag.get('error') %}
            	    		        {{ flashMessage }}
	 	      	  	      {% endfor %}
	 	      	  
	 	      	  	      {% for flashMessage in app.session.flashbag.get('success') %}
            	    	     	    {{ flashMessage }}
	 	      	  	     {% endfor %}
                    </div>
                </div>
            </div>
        </div>
      <!-- /Banner -->
  
      <div class="container" style="margin-bottom:100px">

        <div class="row vertical-gutter">
          <div class="col-md-4 col-md-offset-2">
            <ul class="pricing-table">
              <li class="plan-name">
                {{standard['name']}}
              </li>
              <li class="plan-price">
                {{standard['price']}}€
              </li>
              <li>30 days access to:</li>
              <li>Scammer list</li>
              <li>Community forum</li>
              <li>Job Applications</li>
              <li class="plan-action">
              <form class="form-horizontal" role="form" method="POST" action="{{ path('paypalButton') }}" name="form">
                  <div class="youplay-input">
                      <input type="hidden" id="standard" type="text" class="form-control" name="option" value="1">
                      <input type="hidden" id="amount" type="text" class="form-control" name="amount" value="{{standard['price']}}">
                  </div>
                  <button class="btn btn-success db">Buy now</button>
              </form>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="pricing-table">
              <li class="plan-name">
                {{business['name']}}
              </li>
              <li class="plan-price">
              {{business['price']}}€
              </li>
              <li style="font-weight: bold;">90 days access to:</li>
              <li>Scammer list</li>
              <li>Community forum</li>
              <li>Job Applications</li>
               <li class="plan-action">
                  <form class="form-horizontal" role="form" method="POST" action="{{ path('paypalButton') }}" name="form">
                      <div class="youplay-input">
                        <input type="hidden" id="business" type="text" class="form-control" name="option" value="1">
                        <input type="hidden" id="amount" type="text" class="form-control" name="amount" value="{{business['price']}}">
                      </div>
                      <button class="btn btn-success db">Buy now</button>
                  </form>
              </li>
            </ul>
          </div>
         
        </div>
      </div>
      <!-- /Pricing Tables -->
  <!-- /Main Content -->
{% endblock %}

