{% extends 'base.html.twig' %}

{% block title %}Thank you!{% endblock %}
{% block body %}

  <!-- Main Content --> 
        <div class="nk-page-background" data-bg-mp4="../video/honor.mp4"></div>
    <!-- Banner -->
        <div class="youplay-banner youplay-banner-parallax banner-top small" style="background: none;">
            <div class="info">
                <div>
                    <div class="container">
                            <h1>Done!</h1>
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                {{ flashMessage }}
                          {% endfor %}
                  
                          {% for flashMessage in app.session.flashbag.get('success') %}
                                {{ flashMessage }}
                         {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
      <!-- /Banner -->
    <div class="container youplay-content">
      <div class="row">
        <div class="col-md-12 text-center">
          <!-- Contact Form -->
          <div class="youplay-form" style="margin-bottom: 180px;">
            <h2 class="mt-0">Thank you for your purchase!</h2>
               <a class="btn btn-lg btn-success" href="{{ path('activity') }}">To your profile</a>
          </div>
        </div>
          <!-- /Contact Form -->
        </div>
      </div>
    </div>
  <!-- /Main Content -->
{% endblock %}