<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{asset('vendor/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
        <!-- Font Awesome -->             
        <link rel="stylesheet" href="{{asset('vendor/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css')}}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{asset('vendor/AdminLTE/bower_components/Ionicons/css/ionicons.min.css')}}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{asset('vendor/AdminLTE/dist/css/AdminLTE.min.css')}}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{asset('vendor/AdminLTE/dist/css/skins/_all-skins.min.css')}}">

        <link rel="stylesheet" href="{{asset('vendor/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css')}}">

        <link rel="stylesheet" href="{{asset('vendor/toastr/build/toastr.css')}}">
  
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
      
        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    </head>

    <body class="hold-transition skin-blue sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">
            <header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">


          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{avatar}}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{app.user.name}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{{avatar}}" class="img-circle" alt="User Image">

                <p>
                  {{app.user.email}}
                  <small>{{app.user.createdAt|date()}}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ path('profile') }}" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->
    <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{avatar}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{app.user.name}}</p>
        </div>
      </div>

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="{{path('adminHome')}}"><i class="fa fa-book"></i> <span>Dashboard</span></a></li>
        <li><a href="{{path('adminUser')}}"><i class="fa fa-book"></i> <span>Users</span></a></li>
        <li><a href="{{path('registerToken')}}"><i class="fa fa-book"></i> <span>Token</span></a></li>
        <li><a href="{{path('registerByAdmin')}}"><i class="fa fa-book"></i> <span>Register</span></a></li>
        <li><a href="{{path('logs')}}"><i class="fa fa-book"></i> <span>Logs</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
{% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible">
                  {{ flashMessage }}
                  </div>
              {% endfor %}
      
              {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible">
                  {{ flashMessage }}
                  </div>
              {% endfor %}
    <!-- Content Header (Page header) -->
      {% block body %}{% endblock %}
    </div>
  <!-- /.content-wrapper -->


<!-- jQuery 3 -->
<script src="{{asset('vendor/AdminLTE/bower_components/jquery/dist/jquery.min.js')}}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{asset('vendor/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- SlimScroll -->
<script src="{{asset('vendor/AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
<!-- FastClick -->
<script src="{{asset('vendor/AdminLTE/bower_components/fastclick/lib/fastclick.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{asset('vendor/AdminLTE/dist/js/adminlte.min.js')}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{asset('vendor/AdminLTE/dist/js/demo.js')}}"></script>

<script src="{{asset('vendor/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{asset('vendor/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
<script src="{{asset('vendor/toastr/build/toastr.min.js')}}"></script>
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
        </div>
             <!-- wrapper -->



      

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2017 <a href="{{ path('homepage') }}">Job4Boosters</a>.</strong> All rights
    reserved.
  </footer>
        
        
       

        {% block javascripts %}{% endblock %}
       
    </body>
</html>
