
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta https-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" itemprop="description" content="{% block description %}Description{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{asset('vendor/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" />
        <!-- FontAwesome -->
        <link rel="stylesheet" href="{{asset('vendor/bower_components/font-awesome/css/font-awesome.min.css')}}" />
        <!-- Revolution Slider -->
        <link rel="stylesheet" type="text/css" href="{{asset('vendor/plugins/slider-revolution/examples&source/rs-plugin/css/settings.css')}}" />
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{{asset('vendor/bower_components/owl.carousel/dist/assets/owl.carousel.min.css')}}" />
        <!-- Magnific Popup -->
        <link rel="stylesheet" type="text/css" href="{{asset('vendor/bower_components/magnific-popup/dist/magnific-popup.css')}}" />
        <!-- Youplay -->
        <link rel="stylesheet" href="{{asset('css/youplay.css')}}" />
        <!-- Custom Styles -->
        <link rel="stylesheet" href="{{asset('css/custom.css')}}" />
        
         <link rel="stylesheet" href="{{asset('vendor/toastr/build/toastr.css')}}">
        <!-- RTL (uncomment this to enable RTL support) -->
        <!-- <link rel="stylesheet" type="text/css" href="../assets/youplay/css/youplay-rtl.css" /> -->
        <style type="text/css">
            .youplay-user .user-data {
                position: relative;
                display: inline-block;
                padding: 1.8rem 3rem;
                margin-left: -4px;
                height: 170px; }
            .youplay-user .angled-img {
                display: inline-block;
                vertical-align: top;
                width: 170px;
            }
        </style>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          
            ga('create', 'UA-102775866-1', 'auto');
            ga('send', 'pageview');

        </script>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('image/icon.png') }}" />
    </head>

    <body>
        <!-- Preloader -->
        <div class="page-preloader preloader-wrapp">
            <img src="{{asset('image/logo.png')}}" alt="Jobs for boosters">
            <div class="preloader"></div>
        </div>
        <!-- /Preloader -->

        <!-- Navbar -->
        <nav class="navbar-youplay navbar navbar-default navbar-fixed-top ">
          <div class="container nav-container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="{{asset('image/logo.png')}}" alt="Jobs for boosters">
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="">
                  <a  href="{{ path('homepage') }}" class="" role="button" aria-expanded="false">Home <span class="label">Start page</span></a>
                </li>
                {% if app.user != null %}
                <li class="">
                  <a  href="{{ path('news') }}" class="" role="button" aria-expanded="false">News <span class="label">New Posts</span></a>
                </li>
                <li class="">
                  <a  href="{{ path('forum') }}" class="" role="button" aria-expanded="false">Forum <span class="label">Community</span></a>
                </li>
                <li class="">
                  <a  href="{{ path('search') }}" class="" role="button" aria-expanded="false">Search <span class="label">Scammers</span></a>
                </li>
                <li class="">
                  <a  href="{{ path('job-list') }}" class="" role="button" aria-expanded="false">List of jobs <span class="label">Job applications</span></a>
                </li>
                {% endif %}
                <li class="">
                  <a  href="{{ path('job') }}" class="" role="button" aria-expanded="false">Boosting jobs<span class="label">Job for boosters</span></a>
                </li>
                <li class="">
                  <a  href="{{ path('shop') }}" class="" role="button" aria-expanded="false">Shop <span class="label">Buy access</span></a>
                </li>
                 <li class="">
                  <a  href="{{ path('contact') }}" class="" role="button" aria-expanded="false">Contact <span class="label">Contact us</span></a>
                </li>
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
                {% if app.user != null %}
                <li>
                  <a href="{{ path('activity') }}" class="" role="button" aria-expanded="false" style="padding-top: 10px;">
                    <span class="label" > <img src="{{ avatar }}" alt="" height="60px;" style="max-width: 89px;"></span>
                  </a>
                </li>
                <li class="dropdown dropdown-hover">
                  <a href="{{ path('activity') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{app.user.name}}<span class="caret"></span><span class="label">it is you</span>
                  </a>
                  <div class="dropdown-menu">
                    <ul role="menu">
                      {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li><a href="{{ path('adminHome') }}"><spam style="color:Chartreuse "> ADMIN </span></a></li>
                      {% endif %}
                      {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                       <li> <a href="{{ path('homepage', {'_morning_star_switch_user': '_exit'}) }}"><spam style="color:Chartreuse ">Exit</span></a></li>
                      {% endif %}
                      <li><a href="{{ path('activity') }}">Profile </a></li>
                      <li class="divider"></li><li><a href="{{ path('logout') }}">Log Out</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            {% else %}
            <li>
              <a href="{{ path('login') }}" class="" role="button" aria-expanded="false" style="padding-top: 10px;">
                <span class="label" > <img src="{{asset('image/web/manager.png')}}" alt="" height="60px" style=""></span>
              </a>
            </li>
            <li class="dropdown dropdown-hover">
              <a href="{{ path('login') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">GUEST<span class="caret"></span> <span class="label">it is you</span>
              </a>
              <div class="dropdown-menu">
                <ul role="menu">
                  <li><a href="{{ path('login') }}">Log in</a>
                  </li>
                </ul>
              </div>
            </li>
            </ul>
            </div>
            {% endif %}
            </li>
            </ul>
            </div>
          </div>
        </nav>
        <!-- /Navbar -->

        <div class="col-md-8 col-md-offset-2" style="position:fixed; margin-top: 100px; z-index: 100000;">
          {% for flashMessage in app.session.flashbag.get('error') %}
          <div class="alert alert-danger" role="alert">
            <h3 class="white-text-shadow" style="text-align: center; margin-top: 0px">Error!
              <span class="nk-cookie-alert-close">
                <button data-dismiss="alert" class="close" type="button" aria-label="Close">
                  <span aria-hidden="true">&times;
                  </span>
                </button>
              </span>
            </h3>
            <div class="" style="text-align: center">{{ flashMessage }}</div>
          </div>
          {% endfor %}
          {% for flashMessage in app.session.flashbag.get('success') %}
          <div class="alert alert-success" role="alert">
            <h3 class="white-text-shadow" style="text-align: center; margin-top: 0px">Success!
              <span class="nk-cookie-alert-close">
                <button data-dismiss="alert" class="close" type="button" aria-label="Close">
                  <span aria-hidden="true">&times;
                  </span>
                </button>
              </span>
            </h3>
            <div class="" style="text-align: center">{{ flashMessage }}</div>
          </div>
          {% endfor %}
        </div>

        {% block body %}{% endblock %}

        <!-- Footer -->
        <footer class="youplay-footer-parallax">
          <div class="wrapper">
    
            <!-- Social Buttons -->
            <div class="social">
              <div class="container">
                <h3>
                  <a class="" href="{{ path('homepage') }}">
                    <img src="{{asset('image/logo.png')}}" alt="Jobs for boosters">
                  </a>
                </h3>
    
                <div class="social-icons">
                  <div class="social-icon">
                    <a href="#!">
                      <i class="fa fa-facebook-square"></i>
                      <span>Like on Facebook</span>
                    </a>
                  </div>
                  <div class="social-icon">
                    <a href="#!">
                      <i class="fa fa-twitter-square"></i>
                      <span>Follow on Twitter</span>
                    </a>
                  </div>
                  <div class="social-icon">
                    <a href="#!">
                      <i class="fa fa-instagram"></i>
                      <span>Follow on Instagram</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Social Buttons -->
    
            <!-- Copyright -->
            <div class="copyright">
              <div class="container">
                <strong>SafeBoosters</strong> &copy; 2017. All rights reserved. <a href="{{ path('terms') }}">Terms of Service</a>
              </div>
            </div>
            <!-- /Copyright -->
    
          </div>
        </footer>
        <!-- /Footer -->
        
        <a class="btn btn-mute" style="position: fixed; bottom: 0; right: 0; margin: 30px;"><i class="fa fa-volume-up"></i></a>
        
        <!-- /Main Content -->
        
        <!-- Search Block -->
        <div class="search-block">
          <a href="#!" class="search-toggle glyphicon glyphicon-remove"></a>
          <form action="search.html">
            <div class="youplay-input">
              <input type="text" name="search" placeholder="Search...">
            </div>
          </form>
        </div>
        <!-- /Search Block -->


        <!-- jQuery -->
        <script type="text/javascript" src="{{ asset('vendor/bower_components/jquery/dist/jquery.min.js')}}"></script>
        <!-- Hexagon Progress -->
        <script type="text/javascript" src="{{ asset('vendor/bower_components/HexagonProgress/jquery.hexagonprogress.min.js')}}"></script>
        
        <!-- Bootstrap -->
        <script type="text/javascript" src="{{ asset('vendor/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        
        <!-- Jarallax -->
        <script type="text/javascript" src="{{ asset('vendor/bower_components/jarallax/dist/jarallax.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('vendor/bower_components/jarallax/dist/jarallax-video.min.js')}}"></script>
        <!-- Smooth Scroll -->
        <script type="text/javascript" src="{{ asset('vendor/bower_components/smoothscroll-for-websites/SmoothScroll.js')}}"></script>
        <!-- Owl Carousel -->
        <script type="text/javascript" src="{{ asset('vendor/bower_components/owl.carousel/dist/owl.carousel.min.js')}}"></script>
        <!-- Magnific Popup -->
        <script type="text/javascript" src="{{ asset('vendor/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>

        <!-- Countdown -->
        <script type="text/javascript" src="{{ asset('vendor/bower_components/jquery.countdown/dist/jquery.countdown.min.js')}}"></script>
        
        <!-- Moment.js -->
        <script type="text/javascript" src="{{ asset('vendor/bower_components/moment/min/moment.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('vendor/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js')}}"></script>

        <!-- Revolution Slider -->
        <script type="text/javascript" src="{{ asset('vendor/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('vendor/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>

        <!-- ImagesLoaded -->
        <script type="text/javascript" src="{{ asset('vendor/bower_components/imagesloaded/imagesloaded.pkgd.min.js')}}"></script>

        <!-- Youplay -->
        <script type="text/javascript" src="{{ asset('js/youplay.min.js')}}"></script>

        <!-- GSAP -->
        <script src="{{ asset('vendor/bower_components/gsap/src/minified/TweenMax.min.js')}}"></script>

        <script src="{{ asset('js/vell.min.js')}}"></script>
        <script src="{{ asset('js/vell-init.min.js')}}"></script>
        <script src="{{asset('vendor/toastr/build/toastr.min.js')}}"></script>

        <!-- init youplay -->
        <script>
          if(typeof youplay !== 'undefined') {
              youplay.init({
                  // enable parallax
                  parallax:         true,
          
                  // set small navbar on load
                  navbarSmall:      false,
          
                  // enable fade effect between pages
                  fadeBetweenPages: true,
          
                  // twitter and instagram php paths
                  php: {
                      twitter: './php/twitter/tweet.php',
                      instagram: './php/instagram/instagram.php'
                  }
              });
          }
        </script>


        <script type="text/javascript">
          $(".countdown").each(function() {
              var tz = $(this).attr('data-timezone');
              var end = $(this).attr('data-end');
                  end = moment.tz(end, tz).toDate();
              $(this).countdown(end, function(event) {
                $(this).text(
                  event.strftime('%D days %H:%M:%S')
                );
              });
          })
        </script>

        <script type="text/javascript">
          document.getElementsByTagName('video')[0].volume = 0.03;
        </script>

        <script type="text/javascript">
          $(document).ready(function() {
              $('video').on('loadeddata', function(e) {
                 console.log('onloadeddata', e.target);
                 $(this).prop("muted", false);
              });
              var isMuted = false; 
              $('.btn-mute').click(function(e) {
                  isMuted = !isMuted;
                  $('video').prop("muted", isMuted);
                  $('.btn-mute i').toggleClass('fa-volume-up').toggleClass('fa-volume-off');
              });
          });
        </script>

        <script type="text/javascript">
          $('#cookies').each(function(){
            this.href += '{{ path('privacy') }}';
          })
        </script>

        {% block javascripts %}{% endblock %}
       
    </body>
</html>
