{% extends 'base.html.twig' %}

{% block title %}Elo Boosting Jobs - SafeBoosters.com - Job for Elo Boosters{% endblock %}
{% block description %}Fill out one elo boosting job application and send it all at once to the sites that employ and become LoL, CS, Overwatch, HS, Dota 2, WoW or HotS Elo Booster.{% endblock %}

{% block body %}
{% block stylesheets %}
  <style type="text/css">
  .youplay-post .news-one .angled-img, .youplay-post .news-one .youplay-slider{
     max-width: 580px;}
  </style>
{% endblock %}
  <!-- Main Content -->

    <!-- Slider Revolution-->
    <div class="tp-banner-container rs-youplay">
      <div class="tp-banner">
        <ul>
          <!-- SLIDE NR. 1  -->
          <li data-thumb="{{asset('image/home/elo-boosting-jobs.jpg')}}" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
            <!-- MAIN IMAGE -->
            <img src="{{asset('image/dummy.png')}}" alt="" data-lazyload="{{asset('image/home/elo-boosting-jobs.jpg')}}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div class="tp-caption customin customout" data-x="left" data-hoffset="60" data-y="center" data-voffset="-30" data-customin="x:200;scaleX:0.5;scaleY:0.5;" data-customout="x:0;scaleX:1;scaleY:1;" data-start="500" data-speed="700" data-easing="Sine.easeInOut"
            data-endspeed="600" data-endeasing="Linear.easeNone">
              <h2 class="h1">Looking for a boosting job?<br>Apply to most of boosting sites</h2>
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption customin customout" data-x="center" data-hoffset="60" data-y="center" data-voffset="75" data-customin="x:200;scaleX:0.5;scaleY:0.5;" data-customout="x:0;scaleX:1;scaleY:1;" data-start="1000" data-speed="700" data-easing="Sine.easeInOut"
            data-endspeed="600" data-endeasing="Linear.easeNone">
              <a class="btn btn-primary btn-lg" href="{{ path('job') }}">Apply here</a>
            </div>
          </li>

          <!-- SLIDE NR. 2  -->
          <li data-thumb="{{asset('image/home/scam-boosters.jpg')}}" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
            <!-- MAIN IMAGE -->
            <img src="{{asset('image/dummy.png')}}" alt="" data-lazyload="{{asset('image/home/scam-boosters.jpg')}}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div class="tp-caption customin customout" data-x="left" data-hoffset="60" data-y="center" data-voffset="-25" data-customin="x:200;scaleX:0.5;scaleY:0.5;" data-customout="x:0;scaleX:1;scaleY:1;" data-start="500" data-speed="700" data-easing="Sine.easeInOut"
            data-endspeed="600" data-endeasing="Linear.easeNone">
              <h2 class="h1">Do you manage a boosting<br>website and got scammed?</h2>
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption customin customout" data-x="left" data-hoffset="260" data-y="center" data-voffset="80" data-customin="x:200;scaleX:0.5;scaleY:0.5;" data-customout="x:0;scaleX:1;scaleY:1;" data-start="1000" data-speed="700" data-easing="Sine.easeInOut"
            data-endspeed="600" data-endeasing="Linear.easeNone">
              <a class="btn btn-lg" href="{{ path('contact') }}">Warn others</a>
            </div>
          </li>
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
    <!-- /Slider Revolution-->

    <!-- Images With Text -->
    <div class="youplay-carousel" data-autoplay="2500">
      <a class="angled-img" href="store-product-1.html">
        <div class="img">
          <img src="{{asset('image/home/League of Legends.jpg')}}" alt="League of Legends elo boosting jobs">
        </div>
        <div class="over-info">
          <div>
            <div>
              <h4></h4>
            </div>
          </div>
        </div>
      </a>
      <a class="angled-img" href="#!">
        <div class="img">
          <img src="{{asset('image/home/Counter-Strike.jpg')}}" alt="Counter-Strike elo boosting jobs">
        </div>
        <div class="over-info">
          <div>
            <div>
              <h4></h4>
            </div>
          </div>
        </div>
      </a>
      <a class="angled-img" href="#!">
        <div class="img">
          <img src="{{asset('image/home/Overwatch.jpg')}}" alt="Overwatch elo boosting jobs">
        </div>
        <div class="over-info">
          <div>
            <div>
              <h4></h4>
            </div>
          </div>
        </div>
      </a>
      <a class="angled-img" href="#!">
        <div class="img">
          <img src="{{asset('image/home/Hearthstone.jpg')}}" alt="Hearthstone elo boosting jobs">
        </div>
        <div class="over-info">
          <div>
            <div>
              <h4></h4>
            </div>
          </div>
        </div>
      </a>
      <a class="angled-img" href="#!">
        <div class="img">
          <img src="{{asset('image/home/Dota 2.jpg')}}" alt="Dota 2 elo boosting jobs">
        </div>
        <div class="over-info">
          <div>
            <div>
              <h4></h4>
            </div>
          </div>
        </div>
      </a>
      <a class="angled-img" href="#!">
        <div class="img">
          <img src="{{asset('image/home/World of Warcraft.jpg')}}" alt="World of Warcraft elo boosting jobs">
        </div>
        <div class="over-info">
          <div>
            <div>
              <h4></h4>
            </div>
          </div>
        </div>
      </a>
      <a class="angled-img" href="#!">
        <div class="img">
          <img src="{{asset('image/home/Heroes of the Storm.jpg')}}" alt="Heroes of the Storm elo boosting jobs">
        </div>
        <div class="over-info">
          <div>
            <div>
              <h4></h4>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- /Images With Text -->

    <!-- Demo -->
    <section class="youplay-banner youplay-banner-parallax">
      <div class="image" style="background-image: url('{{asset('image/home/boosting job.jpg')}}">
      </div>
      <div class="youplay-news youplay-post info align-center">
      <!-- Post Info -->
        <article class="news-one">
          <h2 class="container h1">What we offer</h2>
        <!-- Post Text -->
          <div class="description">
            <div class="align-center">
              <h3 class="container block-title h2">
                Safeboosters.com is a website for boosting managers who have encountered problematic buyers or boosters and want to share their experiences with other managers. You can search potential bad customers or boosters and prevent to fall into fraud or scam traps. We also offer elo boosting job applications from boosters that are looking for work. Our service is only available for sites that have been running for at least one year.
                <br>
              </h3>
              <a href="{{asset('image/home/list of scammers.jpg')}}" class="angled-img image-popup mr-0">
                <div class="img">
                  <img src="{{asset('image/home/list of scammers.jpg')}}" alt="">
                </div>
                <i class="fa fa-search-plus icon"></i>
              </a>
              <a href="{{asset('image/home/report a scammer.jpg')}}" class="angled-img image-popup mr-0">
                <div class="img">
                  <img src="{{asset('image/home/report a scammer.jpg')}}" alt="">
                </div>
                <i class="fa fa-search-plus icon"></i>
              </a>
              <a href="{{asset('image/home/boosting job applications.jpg')}}" class="angled-img image-popup">
                <div class="img">
                  <img src="{{asset('image/home/boosting job applications.jpg')}}" alt="">
                </div>
                <i class="fa fa-search-plus icon"></i>
              </a>
            </div>
          </div>
        </article>
      </div>
    </section>
    <!-- /Demo -->

    <!-- Features -->
    <h2 class="container h1">Why Join Us</h2>
    <section class="youplay-features container">
      <div class="col-md-3 col-sm-6">
        <a class="feature angled-bg" href="{{ path('login') }}">
          <i class="fa fa-users"></i>
          <h3>Community</h3>
          <small>The largest elo boosting community in one place!</small>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a class="feature angled-bg" href="{{ path('job') }}">
          <i class="fa fa-gamepad"></i>
          <h3>Games</h3>
          <small>A large number of games where boosting is popular!</small>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a class="feature angled-bg" href="{{ path('shop') }}">
          <i class="fa fa-money"></i>
          <h3>Cheap</h3>
          <small>Low and never changing price for access to our website!</small>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a class="feature angled-bg" href="{{ path('shop') }}">
          <i class="fa fa-cc-paypal"></i>
          <h3>Payment</h3>
          <small>Secure and fast PayPal payment methods!</small>
        </a>
      </div>
    </section>
    <!-- /Features -->

    <!-- Partners -->
    <section class="youplay-banner youplay-banner-parallax small mt-80">
      <div class="image" style="background-image: url('{{asset('image/home/boosting jobs.jpg')}}">
      </div>

      <div class="info align-center">
        <div>
          <h2 class="mb-80">Our Partners</h2>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="" data-autoplay="6000">
               <div class="item col-md-6">
                 <a href="https://boost-order.com/" target="_blank">
                   <img src="{{asset('image/boost-order.com.png')}}" alt="Elo Boost at Boost-order.com | League of Legends Elo Boosting Service">
                 </a>
               </div>
               <div class="item col-md-6">
                 <a href="http://topeloboost.com/" target="_blank">
                   <img src="{{asset('image/TopEloboost.png')}}" alt="TopEloboost - Top LoL Elo Boosting Service">
                 </a>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Partners -->
{% endblock %}
{% block javascripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('.btn-mute').addClass('none');
    });
  </script>
{% endblock %}
