{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block body %}



	<!-- Main Content -->
  <section class="content-wrap">
  	 <!-- Banner -->

    <div class="youplay-banner youplay-banner-parallax banner-top small">
      <div class="image" style="background-image: url({{asset('image/banner-blog-bg.jpg')}})">
      </div>

      <div class="info">
        <div>
          <div class="container">
            <h1>Job applications</h1>
            	{% for flashMessage in app.session.flashbag.get('error') %}
    			{{ flashMessage }}
				{% endfor %}
			
				{% for flashMessage in app.session.flashbag.get('success') %}
    			{{ flashMessage }}
				{% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

    <div class="container youplay-content">

      <div class="row">
        <div class="col-md-9 col-md-push-3">
          <!-- Contact Form -->
          <div class="youplay-form p-0">
            <h2 class="mt-0">Drop us a line</h2>

            <form action="php/contact.php" method="POST" role="form" class="youplay-form-ajax" data-toggle="validator">
              <div class="row">
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    <input type="text" name="skype" placeholder="Your Skype *" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    <input type="email" name="email" placeholder="Your email *" required>
                  </div>
                </div>
              </div>
           
              <div class="row">
                <div class="col-md-12">
                  <div class="youplay-input form-group">
                    <input type="text" name="name" placeholder="Your Summoner name or op.gg profile *" required>
                  </div>
                </div>
              
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    <input type="text" name="server" placeholder="Server *" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    <input type="email" name="role" placeholder="Roles you play *" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    <input type="text" name="laguages" placeholder="Laguages you speak *" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    <input type="email" name="age" placeholder="How old are you *" required>
                  </div>
                </div>
              </div>

              <div class="youplay-textarea form-group">
                <textarea name="message" placeholder="Message" rows="5" required></textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
          <!-- /Contact Form -->
        </div>
        <div class="col-md-3 col-md-pull-9">
          <h2 class="mt-0">Contact info</h2>
          12345 North Main Street,
          <br>New York, NY 555555
          <br>
          <br>Phone: 1.800.555.6789
          <br>Email: demo@demo.com
          <br>Web: <a href="https://nkdev.info">nkdev.info</a>
          <br>
          <br>
        </div>
      </div>

    </div>
  </section>
  <!-- /Main Content -->
{% endblock %}
	