{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}
{% block body %}
  <!-- Main Content -->
    <div class="nk-page-background" data-bg-mp4="../video/urgot.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner youplay-banner-parallax banner-top small" style="background: none;">

      <div class="info">
        <div>
          <div class="container">
            <h1>Privacy Policy</h1>
              {% for flashMessage in app.session.flashbag.get('error') %}
          {{ flashMessage }}
        {% endfor %}
      
        {% for flashMessage in app.session.flashbag.get('success') %}
          {{ flashMessage }}
        {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->
      <div class="container youplay-content mb-100">
      <!-- Accordion -->
        <div class="panel-group" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default" id="scrollid2">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="collapsebnt">
                    Cookies<span class="icon-plus"></span>
                  </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <h3 class="nk-counter-title h4">What Are Cookies? What is a Cookie?</h3>
                Cookies are small files which are stored on a user's computer. They are designed to hold a modest amount of data specific to a particular client and website, and can be accessed either by the web server or the client computer. This allows the server to deliver a page tailored to a particular user, or the page itself can contain some script which is aware of the data in the cookie and so is able to carry information from one visit to the website (or related site) to the next.
                <br></br>   
                <h3 class="nk-counter-title h4">What kind of "Cookies" do we use and how do we use them?</h3>
                <h3 class="nk-counter-title h5">Cookies are used for analysis</h3>
                Cookies allow the collection of data related to the method of using the website, including the content clicked on by the user while browsing the website and to enable improvement of operations and service structure.
                <br></br>
                <h3 class="nk-counter-title h5">Removal of "Cookies"</h3>
                Each type of browser has the ability to block or delete cookies.
                For more information on managing cookies you can click on the link of your browser below.
                <br></br>
                <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank">Google Chrome</a>
                <br></br>
                <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&amp;redirectslug=Cookies" target="_blank">Firefox</a>
                <br></br>
                <a href="https://support.apple.com/kb/PH21411?viewlocale=en_GB&locale=en_GB" target="_blank">Safari</a>
                <br></br>
                <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Internet Explorer</a>
              </div>
            </div>
          </div>
          <div class="panel panel-default" id="scrollid3">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="collapsebnt2">
                    Visitors of our website<span class="icon-plus"></span>
                  </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Site safeboosters.com collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request.
                Our main purpose in collecting non-personally identifying information is to better understand how members or visitors use our website.
                Safeboosters.com may publish a report every now and then on trends in the usage of its website and records with non-personal data intended only for analysis.
              </div>
            </div>
          </div>
          <div class="panel panel-default" id="scrollid4">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="  collapseThree" id="collapsebnt3">
                  Our customers<span class="icon-plus"></span>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                We also collect data to analyze every connection with your account as statistics.
                The data is only used to improve the quality of our service.
              </div>
            </div>
          </div>
          <div class="panel panel-default" id="scrollid5">
              <div class="panel-heading" role="tab" id="accordion-1-4-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-1-4" aria-expanded="false" aria-controls="accordion-1-4" id="collapsebnt4">
                    Privacy Policy changes<span class="icon-plus"></span>
                  </a>
                </h4>
              </a>
              </div>
              <div id="accordion-1-4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-1-4-heading">
                  <div class="panel-body">
                  Although most of the changes may be small, our website may change our Privacy Policy from time to time in the discretion of safeboosters.com.
                  We encourage visitors to check this page frequently for any changes to the Privacy Policy.
                  After any change in this Privacy Policy will also benefit from our site and accept all changes.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="accordion-1-5-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-1-5" aria-expanded="false" aria-controls="accordion-1-5" id="collapsebnt5">
                    Personal data<span class="icon-plus"></span>
                  </a>
                </h4>
              </div>
              <div id="accordion-1-5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-1-5-heading">
                  <div class="panel-body">
                  All personal details are hidden from the public.
                  Any personal information such as names, IP or e-mail addresses will remain private and only for the use of safeboosters.com to serve its purpose.
                  The collected data will be exclusively available to managers of selected boosting websites for better communication.
                  </div>
              </div>
          </div>
          <div class="panel panel-default" id="scrollid6">
              <div class="panel-heading h4 bold" role="tab" id="accordion-1-6-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-1-6" aria-expanded="false" aria-controls="accordion-1-6" id="collapsebnt6">
                    Notification mailing list<span class="icon-plus"></span>
                  </a>
                </h4>
              </div>
              <div id="accordion-1-6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-1-6-heading">
                  <div class="panel-body">
                  All of our customers will be added to our mailing list after their purchase, so we can update them with new offers or services.
                  From time to time, we may send an e-mail with new promotions.
                  If you don't want to be on this list and getting e-mails from us you can contact us through the contact form.
                  </div>
              </div>
          </div>
        </div>
        <!-- /Accordion -->
      </div>
  <!-- /Main Content -->
{% endblock %}
  