{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
	
  <!-- Main Content -->
  <section class="content-wrap">

    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax small">
      <div class="image" style="background-image: url({{asset('image/game-diablo-iii-1400x656.jpg')}})">
      </div>

      <div class="youplay-user-navigation">
        <div class="container">
          <ul>
            <li><a href="{{ path('activity') }}">Activity</a>
            </li>
            <li class="active"><a href="user-profile.html">Profile</a>
            </li>
            <li><a href="user-messages.html">Messages <span class="badge">6</span></a>
            </li>
            <li><a href="user-settings.html">Settings</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="info">
        <div>
          <div class="container youplay-user">
            <a href="{{ avatar }}" class="angled-img image-popup">
              <div class="img">
                <img src="{{ avatar }}" alt="">
              </div>
              <i class="fa fa-search-plus icon"></i>
            </a>
            <!--
                -->
            <div class="user-data">
              <h2>{{app.user.name}}</h2>
              <div class="location"><i class="fa fa-map-marker"></i> {{app.user.email}}</div>
              <div class="activity">
                <div>
                  <div class="num">0</div>
                  <div class="title">Posts</div>
                </div>
                <div>
                  <div class="num">0</div>
                  <div class="title">Lorem ipsum</div>
                </div>
              </div>
            </div>
          </div>

          <div class="container mt-20">
            <a href="#!" class="btn btn-sm btn-default ml-0">Add Post</a>
            <a href="#!" class="btn btn-sm btn-default">Jobs</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

    <div class="container youplay-content">

      <div class="row">

        <div class="col-md-9">

          <h3 class="mt-0 mb-20">John Doe</h3>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td style="width: 200px;">
                  <p>Hometown</p>
                </td>
                <td>
                  <p><a href="#">New York</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Relationship status</p>
                </td>
                <td>
                  <p><a href="#">Married</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Studied at</p>
                </td>
                <td>
                  <p><a href="#">New York University, NYU</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Languages</p>
                </td>
                <td>
                  <p><a href="#">English</a>, <a href="#">Japan</a>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>

          <h3 class="mt-40 mb-20">Contact Information</h3>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td style="width: 200px;">
                  <p>Current City</p>
                </td>
                <td>
                  <p><a href="#">New York</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Mobile</p>
                </td>
                <td>
                  <p>+1 *** ** ** 11 11</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Instagram</p>
                </td>
                <td>
                  <p><a href="#">@instagram</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Twitter</p>
                </td>
                <td>
                  <p><a href="#">#twitter</a>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>

          <h3 class="mt-40 mb-20">Personal Information</h3>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td style="width: 200px;">
                  <p>Current City</p>
                </td>
                <td>
                  <p><a href="#">New York</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Favorite games</p>
                </td>
                <td>
                  <p><a href="#">Bloodborne</a>, <a href="#">Dark Souls II</a>, <a href="#">Kingdoms of Amalur</a>, <a href="#">The Witcher</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>About Me</p>
                </td>
                <td>
                  <p>Netus. Nascetur arcu amet accumsan natoque. Augue aptent euismod sed magna diam nostra, molestie mi felis. Egestas nisl ante posuere dui Nostra tempus pulvinar at dui augue mattis placerat iaculis hac arcu rutrum.</p>

                  <p>Vel <strong>class</strong> lectus auctor interdum. Mi <strong>nec</strong> senectus commodo sed suscipit vitae parturient, risus vivamus quisque dolor aliquet amet. Etiam penatibus nascetur netus. Non leo eu vitae sem laoreet. Varius in
                    augue. Mollis convallis.</p>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- Left Side -->
        <div class="col-md-3">
          <div class="side-block">
            <h4 class="block-title">About</h4>
            <div class="block-content">
              Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus, ubi tu non Virginiae ornare vel ipsum. Ut enim Albuquerque et ille eum iure hic, et ego ducam te ad iustitiam.
            </div>
          </div>
          <div class="side-block">
            <h4 class="block-title">Location</h4>
            <div class="block-content pt-5">
              <div class="responsive-embed responsive-embed-16x9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423284.59051352815!2d-118.41173249999999!3d34.0204989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sru!4v1430158354122"
                width="600" height="450"></iframe>
              </div>
            </div>
          </div>
        </div>
        <!-- Left Side -->

      </div>

    </div>



  </section>
  <!-- /Main Content -->
{% endblock %}