{% extends 'base.html.twig' %}

{% block title %}Terms of Service{% endblock %}
{% block body %}
{% block javascripts %}
{% endblock %}
  <!-- Main Content -->
    <div class="nk-page-background" data-bg-mp4="../video/camille.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner youplay-banner-parallax banner-top small" style="background: none;">

      <div class="info">
        <div>
          <div class="container">
            <h1>Terms of Service</h1>
              {% for flashMessage in app.session.flashbag.get('error') %}
          {{ flashMessage }}
        {% endfor %}
      
        {% for flashMessage in app.session.flashbag.get('success') %}
          {{ flashMessage }}
        {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->
      <div class="container youplay-content mb-100">
      <!-- Accordion -->
        <div class="panel-group" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default" id="scrollid2">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="collapsebnt">
                    Acceptance of the Terms Of Service<span class="icon-plus"></span>
                  </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                Before using the https://safeboosters.com website (the "Service") please read these Terms of Service ("Terms") carefully. Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. You agree to be bound by these Terms by accessing or using the Service. If you do not accept any part of the terms then you may not access the Service, please <a href="contact">contact us</a> and explain your reasoning.
              </div>
            </div>
          </div>
          <div class="panel panel-default" id="scrollid3">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" id="collapsebnt2">
                    Safeboosters.com Hosting<span class="icon-plus"></span>
                  </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Safeboosters.com is hosted under the website https://safeboosters.com and there are no other websites or services under this name. There are no other services connected to https://safeboosters.com other than the ones that we've stated.
              </div>
            </div>
          </div>
          <div class="panel panel-default" id="scrollid4">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="  collapseThree" id="collapsebnt3">
                  Safeboosters.com doesn't represent League of Legends or Riot Games<span class="icon-plus"></span>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                League of Legends is a registered trademark of Riot Games, Inc. Safeboosters.com isn't affiliated with Riot Games in any form or manner. Safeboosters.com isn't connected or related in any way to Riot Games, Inc. All copyrights and trademarks are property of their respective owners. Safeboosters.com claims no ownership of Riot Games’ or other parties’ intellectual property.
              </div>
            </div>
          </div>
             <div class="panel panel-default" id="scrollid8">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="  collapseThree" id="collapsebnt8">
                  Safeboosters.com doesn't represent ANY Games<span class="icon-plus"></span>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Safeboosters.com isn't affiliated with ANY games or any form or manner. Safeboosters.com isn't connected or related in any way with occurring or discussed Games. All copyrights and trademarks are property of their respective owners. Safeboosters.com claims no ownership of ANY Games’ or other parties’ intellectual property.
              </div>
            </div>
          </div>
          <div class="panel panel-default" id="scrollid5">
              <div class="panel-heading" role="tab" id="accordion-1-4-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-1-4" aria-expanded="true" aria-controls="accordion-1-4" id="collapsebnt4">
                    Content on Safeboosters.com<span class="icon-plus"></span>
                  </a>
                </h4>
              </a>
              </div>
              <div id="accordion-1-4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-1-4-heading">
                  <div class="panel-body">
                  This site and its components are offered for informational purposes only; thus this site shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted or made available via the site, and shall not be responsible or liable for any error or omissions in that information.
                  <br><br>
                  Safeboosters.com only provides a platform for users to share their experiences. All reports published on the website were uploaded by the users, thus the Safeboosters.com team takes no responsibility for any content. The only person entitled to remove a report is the original reporter.
                  <br><br>
                  The content on this site and all extensions of this site is shown as is and without a warranty of any kind either expressed or implied. To the fullest extent allowed in regards to the law, Safeboosters.com, reject all warranties implied or expressed, including but not limited to, implied warranties of merchantability and fitness for particular purpose. In relation to all services, Safeboosters.com is solely providing a service to the customer; no goods, property or any extension of a physical product are being sold by Safeboosters.com. Our website and service makes no claim to the title regarding any of the unauthorized intellectual property and are simply acting as a third-party transferee of the property among the unauthorized and the customer; once the payment is received by Safeboosters.com, and the promised services are completed by the aforementioned, the customer will take Safeboosters.com’s place as a user of unauthorized intellectual property to the limit allowed by the unauthorized. At the end of any transaction between the customer and Safeboosters.com, the customer will assume that Safeboosters.com, functions merely as a licensee of the unauthorized to use its intellectual property and grants Safeboosters.com indemnity from the entire business dealing. Safeboosters.com, claims no title to any intellectual property interests held by the unauthorized nor the customer; and except those, if any, granted by the unauthorized, no intellectual properties are being transferred to the customer by Safeboosters.com from any transaction.
                  </div>
              </div>
          </div>
            <div class="panel panel-default" id="scrollid8">
              <div class="panel-heading" role="tab" id="accordion-1-11-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-1-11" aria-expanded="true" aria-controls="accordion-1-11" id="collapsebnt11">
                   Forbidden content<span class="icon-plus"></span>
                  </a>
                </h4>
              </a>
              </div>
              <div id="accordion-1-11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-1-11-heading">
                  <div class="panel-body">
                    The User understands that all information, data, text, software, music, sound, photographs, graphics, video, messages or other materials (the "Content"), whether publicly posted or privately transmitted, are the sole responsibility of the person from which such Content originated. This means that the User is entirely responsible for all Content transmitted via the Service. We dont control the Content transmitted via the Service and, as such, does not guarantee the accuracy, integrity or quality of such Content.
                    <br><br>
                  </br>
                    The User agrees to NOT use the Service to:
                  </br><br>
                    <ol>
                        <li>upload, post, e-mail, transmit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable;</li>
                        <li>Impersonate any other User, unregistered visitors or managers</li>
                        <li>upload, post, email, transmit, link to, or otherwise make available any copyrighted Content without the creator/owner's consent</li>
                        <li>upload, post, email, transmit, link to, or otherwise make available any unsolicited or unauthorized advertising;</li>
                        <li>upload, post, email, transmit, link to, or otherwise make available any pornography, nudity, or other "adult" content; </li>
                        <li>upload, post, email, transmit, link to, or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
                        <li>upload, post, email, transmit, link to, or otherwise make available any illegal copies of software </li>
                        <li>stalk" or otherwise harass another; or collect or store personal data about other users</li>
                        <li>insult other Users or Guests any any way, shape, or form (to "Flame");</li>
                        <li>cause (an)other User(s) or Guest(s) to react with a Flame (to "Troll");</li>
                        <li>discriminate against someone because of their race, religion, or culture.</li>
                    </ol>
                  <br>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="accordion-1-5-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-1-5" aria-expanded="true" aria-controls="accordion-1-5" id="collapsebnt5">
                    Changes<span class="icon-plus"></span>
                  </a>
                </h4>
              </div>
              <div id="accordion-1-5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-1-5-heading">
                  <div class="panel-body">
                  Safeboosters.com reserves the right to change or replace any conditions of the website, policy and terms with or without any notification to the non-client or client to https://safeboosters.com as well as our respective extensions. It is the sole responsibility of the aforementioned to pay close attention to any alterations, changes, removals or additions to the clauses and rules written in the terms and conditions. By purchasing any service that Safeboosters.com, offers on https://safeboosters.com or outside of it, you are automatically agreeing to the terms and conditions as a whole.
                  </div>
              </div>
          </div>
          <div class="panel panel-default" id="scrollid6">
              <div class="panel-heading h4 bold" role="tab" id="accordion-1-6-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-1-6" aria-expanded="true" aria-controls="accordion-1-6" id="collapsebnt6">
                    Payment process<span class="icon-plus"></span>
                  </a>
                </h4>
              </div>
              <div id="accordion-1-6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-1-6-heading">
                  <div class="panel-body">
                  Safeboosters.com uses PayPal's service as the main provider of our payment system. All the data of the payments are secured by PayPal's service. However, we are responsible for every order and purchase through our website.
                  </div>
              </div>
          </div>
          <div class="panel panel-default" id="scrollid7">
              <div class="panel-heading h4 bold" role="tab" id="accordion-1-7-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-1-7" aria-expanded="true" aria-controls="accordion-1-7" id="collapsebnt7">
                    Customers Duties when using or planning to use our Service<span class="icon-plus"></span>
                  </a>
                </h4>
              </div>
              <div id="accordion-1-7" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-1-7-heading">
                  <div class="panel-body">
                  Please make sure the information you submitted to our website accurately reflects the outcome of the situation. Avoid chances for any misreporting.
                  <br><br>
                  Safeboosters.com is not associated with Riot Games or any unauthorized entity in any way, shape, or form. Safeboosters.com warns any customer or potential customer to refrain from violating, infringing, or making any illegal action in regards the intellectual property rights of Riot Games or any unauthorized entity.
                  <br><br>
                  By using our Site or any Service included under Safeboosters.com, You accept and have made yourself aware of all our Terms of use, and You are aware that by purchasing any Service under Safeboosters.com you know what you are paying for.
                  <br><br>
                  You accept that by buying our Service you are aware that you cannot dispute any purchase with Safeboosters.com after the Service is done or the service has been partially completed, and that you as a customer cannot violate the rules of ChargeBacks stipulated in any payment method provided by Safeboosters.com.
                  <br><br>
                  You, the customer, accept that if you open a claim after the order has gone through or the service has started or been completed, you are in direct breach of Safeboosters.com’s terms of use, and legally bound to either close the claim or pay back the same amount in addition to a fee determined by Safeboosters.com, no less than $50 and no more than three times the original amount if the order placed cost more than $50. Should you fail to abide by either option, you, the customer, accept full liability in a court of law as determined by the European Trade Laws.
                  <br><br>
                  You accept that once your purchase has gone through and is marked as "In Progress", you are no longer eligible to receive a refund. If service is not completed by Safeboosters.com you have the right to receive store credit fitting what is missing from your service.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading h4 bold" role="tab" id="accordion-1-8-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-1-8" aria-expanded="true" aria-controls="accordion-1-8" id="collapsebnt8">
                    Refusing an order by Safeboosters.com<span class="icon-plus"></span>
                  </a>
                </h4>
              </div>
              <div id="accordion-1-8" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-1-8-heading">
                  <div class="panel-body">
                  Safeboosters.com reserves the right to refuse an order within 48 hours. If we decide to refuse the order, we will offer you a full refund (100%) or store credit for the amount paid to us.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading h4 bold" role="tab" id="accordion-1-9-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-1-9" aria-expanded="true" aria-controls="accordion-1-9" id="collapsebnt9">
                    Refund Policy<span class="icon-plus"></span>
                  </a>
                </h4>
              </div>
              <div id="accordion-1-9" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-1-9-heading">
                  <div class="panel-body">
                  Due to the nature of Safeboosters.com’s products (non-tangible digital goods), it is not possible to “return” the product therefore we DO NOT offer refund after purchase is made.
                  <br><br>
                  Once the service has started, you are no longer eligible to receive a refund. If service is not completed by Safeboosters.com you have the right to receive store credit fitting what is missing from your service.
                  <br><br>
                  Safeboosters.com doesn't accept or offer any refunds or chargebacks after we've completed our services. We reserve the right to take any actions against customers that violate our Terms of Service.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading h4 bold" role="tab" id="accordion-1-10-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-1-10" aria-expanded="true" aria-controls="accordion-1-10" id="collapsebnt10">
                    Account Termination<span class="icon-plus"></span>
                  </a>
                </h4>
              </div>
              <div id="accordion-1-10" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-1-10-heading">
                  <div class="panel-body">
                  We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation in the event of a breach the Terms.
                  <br><br>
                  Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.
                  </div>
              </div>
          </div>
             
        </div>
        <!-- /Accordion -->
      </div>
  <!-- /Main Content -->
{% endblock %}
  