<h1>Adding a new product</h1>

{{ form_start(form) }}
    {# <!-- <a href="{{ asset('uploads/brochures/' ~ Image.brochure) }}">View brochure (PDF)</a> -->#}

    {{ form_row(form.brochure) }}
{{ form_end(form) }}



<br>
