{% extends 'adminBase.html.twig' %}

{% block title %}Admin{% endblock %}
{% block body %}
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
     <style type="text/css">
         td.details-control {
        
          cursor: pointer; }
        td.details-control:hover {
         
          cursor: pointer; }
        tr.details td.details-control {
       
        tr.details td.details-control:hover {
        
     </style>
{% endblock %}
    <section class="content-header">
      <h1>
        Dashboard
        <small>it all starts here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashbiard</li>
      </ol>
    </section>
	    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Topic</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
            <div class="row table-responsive youplay-form col-md-10 col-sm-offset-1" style="margin-bottom:30px">
                    <table id="topic" class="row-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Details</th>
                                <th>id</th>
                                <th>Action</th>
                                <th>Create</th>
                            </tr>
                        </thead>
                        <tbody>              
                            <tr>
                                <th></th>
                                <th>id</th>
                                <th>Action</th>
                                <th>Create</th>
                            </tr>     
                        </tbody>
                    </table>
                </div>
            </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Post</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="row table-responsive youplay-form col-md-10 col-sm-offset-1" style="margin-bottom:30px">
                    <table id="post" class="row-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Details</th>
                                <th>id</th>
                                <th>Action</th>
                                <th>Create</th>
                            </tr>
                        </thead>
                        <tbody>              
                            <tr>
                                <th></th>
                                <th>id</th>
                                <th>Action</th>
                                <th>Create</th>
                            </tr>     
                        </tbody>
                    </table>
                </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Job</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="row table-responsive youplay-form col-md-8 col-sm-offset-2" style="margin-bottom:30px">
                    <table id="job" class="row-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Details</th>
                                <th>id</th>
                                <th>Action</th>
                                <th>Create</th>
                            </tr>
                        </thead>
                        <tbody>              
                            <tr>
                                <th></th>
                                <th>id</th>
                                <th>Action</th>
                                <th>Create</th>
                            </tr>     
                        </tbody>
                    </table>
                </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
{% endblock %}
{% block javascripts %}

    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var dt =$("#topic").DataTable({
                "language": {
                    "emptyTable": "No data available in table"
                },
                "responsive": true,
                "searching": true,
                "paging":   true,
                "ordering": true,
                "info":     true,
                "ajax": {
                    type: "POST",  
                    url: "{{path('topicStatusAdmin')}}",
                    dataSrc: "",
                    dataType:'json',
                    cache: false
                },
                "columns": [
                    {
                        "class":          "details-control",
                        "orderable":      false,
                        "data":           null,
                        "defaultContent": "Details"
                    },
                    { "data": "id" },
                    { 
                        "data": null, 
                        render: function (data, type, row) {
                        return  "<div class=''><button class='' id='finishHim' data-id='"+row.id+"'>Checked</button></div>";
                        }
                    },
                   { "data": "Created_at" }
                ]    
            });
            
            var dtp = $("#post").DataTable({
                "language": {
                       "emptyTable": "No data available in table"
                },
                "responsive": true,
                "searching": true,
                "paging":   true,
                "ordering": true,
                "info":     true,
                "ajax": {
                    type: "POST",  
                    url: "{{path('postStatusAdmin')}}",
                    dataSrc: "",
                    dataType:'json',
                    cache: false
                },   
                "columns": [
                    {
                       "class":          "details-control",
                       "orderable":      false,
                       "data":           null,
                       "defaultContent": "Details"
                    },
                    { "data": "id" },
                    { 
                        "data": null, 
                            render: function (data, type, row) {
                            return  "<button class='' id='finishHim2' data-id='"+row.id+"'>Checked</button>";
                        }
                    },
                    { "data": "Created_at" }
                ]
                
            });
            var dtj =   $("#job").DataTable({
                "language": {
                       "emptyTable": "No data available in table"
                },
                "responsive": true,
                "searching": true,
                "paging":   true,
                "ordering": true,
                "info":     true,
                "ajax": {
                    type: "POST",  
                    url: "{{path('jobStatusAdmin')}}",
                    dataSrc: "",
                    dataType:'json',
                    cache: false
                },   
                "columns": [
                    {
                       "class":          "details-control",
                       "orderable":      false,
                       "data":           null,
                       "defaultContent": "Details"
                   },
                    { "data": "id" },
                    { 
                        "data": null, 
                            render: function (data, type, row) {
                            return  "<button class='' id='finishHim3' data-id='"+row.id+"'>Checked</button>";
                        }
                    },
                    { "data": "Created_at" }
                ]
            });
            
             $('#topic').on( 'click', '#finishHim', function (e) {

                e.preventDefault();
                 var data = $(this).attr("data-id");
                 var data = {id : data};
                 var url = "{{ path('topicCheckAdmin') }}";
            
                $.post(url, data, function(response) {
                   
                    if(response['return'] == 1){
                        $('#topic').DataTable().ajax.reload(null, false);
                         toastr["success"](response['msg']);
                    }else{
                         toastr["error"](response['msg']);
                    }
                }, 'JSON');
            });
            
            $('#post').on( 'click', '#finishHim2', function (e) {

                e.preventDefault();
                var data = $(this).attr("data-id");
                var data = {id : data};
                var url = "{{ path('postCheckAdmin') }}";
             
                $.post(url, data, function(response) {
                   
                    if(response['return'] == 1){
                        $('#post').DataTable().ajax.reload(null, false);
                         toastr["success"](response['msg']);
                    }else{
                         toastr["error"](response['msg']);
                    }
                }, 'JSON');
            });
            $('#job').on( 'click', '#finishHim3', function (e) {

                e.preventDefault();
                 var data = $(this).attr("data-id");
                 var data = {id : data};
                 var url = "{{ path('jobCheckAdmin') }}";

                $.post(url, data, function(response) {
                    if(response['return'] == 1){
                        $('#job').DataTable().ajax.reload(null, false);
                         toastr["success"](response['msg']);
                    }else{
                         toastr["error"](response['msg']);
                    }
                 }, 'JSON');
            });
           

            var detailRows = [];
            $('#topic tbody').on( 'click', 'tr td.details-control', function (e) {
                e.preventDefault();
              var tr = $(this).closest('tr');
              var row = dt.row( tr );
              var idx = $.inArray( tr.attr('id'), detailRows );

              if ( row.child.isShown() ) {
                  tr.removeClass( 'details' );
                  row.child.hide();

                  detailRows.splice( idx, 1 );
              }
              else {
                  tr.addClass( 'details' );
                  row.child( format( row.data() ) ).show();

                  if ( idx === -1 ) {
                      detailRows.push( tr.attr('id') );
                  }
              }
            } );
        var detailRowsPost = [];
        $('#post tbody').on( 'click', 'tr td.details-control', function (e) {
            e.preventDefault();
          var tr = $(this).closest('tr');
          var row = dtp.row( tr );
          var idx = $.inArray( tr.attr('id'), detailRowsPost );

          if ( row.child.isShown() ) {
              tr.removeClass( 'details' );
              row.child.hide();

              detailRowsPost.splice( idx, 1 );
          }
          else {
              tr.addClass( 'details' );
              row.child( formatPost( row.data() ) ).show();

              if ( idx === -1 ) {
                  detailRowsPost.push( tr.attr('id') );
              }
          }
        } );
        
        var detailRowsJob = [];
        $('#job tbody').on( 'click', 'tr td.details-control', function (e) {
            e.preventDefault();
          var tr = $(this).closest('tr');
          var row = dtj.row( tr );
          var idx = $.inArray( tr.attr('id'), detailRowsJob );

          if ( row.child.isShown() ) {
              tr.removeClass( 'details' );
              row.child.hide();

              detailRowsJob.splice( idx, 1 );
          }
          else {
              tr.addClass( 'details' );
              row.child( formatJob( row.data() ) ).show();

              if ( idx === -1 ) {
                  detailRowsJob.push( tr.attr('id') );
              }
          }
        } );
 
        dt.on( 'draw', function (e) {
            e.preventDefault();
            $.each( detailRows, function ( i, id ) {
                $('#'+id+' td.details-control').trigger( 'click' );
            } );
        } );
        dtp.on( 'draw', function (e) {
            e.preventDefault();
            $.each( detailRowsPost, function ( i, id ) {
                $('#'+id+' td.details-control').trigger( 'click' );
            } );
        } );
        dtj.on( 'draw', function (e) {
            e.preventDefault();
            $.each( detailRowsJob, function ( i, id ) {
                $('#'+id+' td.details-control').trigger( 'click' );
            } );
        } );
    } );
    
    function format ( d ) {
    var images = '';
       jQuery.each(d.imagePath, function(index, value){
        var assetsBaseDir = "{{ asset('uploads/brochures/') }}";
        images += '<img src="' + assetsBaseDir + value+'"alt="" height="100px" style=""></span>';
    
    });
        return 'Description: '+d.story +'</br>'+images;
    }
    function formatPost ( d ) {
        return 'Description: '+d.post_content;
    }
    function formatJob ( d ) {
        var data = '';
        jQuery.each(d, function(index, value){
            if(value !== null){
            data+= index + ': '+ value + '<br>';
        }
        });
        return data;
    }
    </script>
 {% endblock %}