{% extends 'adminBase.html.twig' %}

{% block title %}Logs{% endblock %}
{% block body %}
    <section class="content-header">
      <h1>
        Logs
        <small>Last 300 rows</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ path('adminHome') }}">Dashbiard</a></li>
        <li class="active">Logs</li>
      </ol>
    </section>
	    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Logs</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
                     <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>id</th>
                  <th>action</th>
                  <th>details</th>
                  <th>userId</th>
                  <th>ip</th>
                  <th>browser</th>
                  <th>referrer</th>
                  <th>Created_at</th>
                </tr>
                </thead>
                <tbody>
                  {% for log in logs %}
                <tr>
                  
                  <td>{{log.id}}</td>
                  {% if log.action == 'Warning' or log.action == 'Error'%}<td style="color:red">{% else %}<td>{% endif %}{{log.action}}</td>
                  <td>{{log.details}}</td>
                  <td>{{log.userId}}</td>
                  <td>{{log.ip}}</td>
                  <td>{{log.browser}}</td>
                  <td>{{log.referrer}}</td>
                  <td>{{log.Created_at|date()}}</td>
                
                </tr>
              {% endfor %}
                </tbody>
              
              </table>
            </div>
            <!-- /.box-body -->
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
{% endblock %}
 {% block javascripts %}
<script type="text/javascript">
$('#example1').DataTable({
    
      "paging": false

    })
</script>
{% endblock %}
