{% extends 'adminBase.html.twig' %}

{% block title %}Token{% endblock %}
{% block body %}
    <section class="content-header">
      <h1>
        Register
        <small>Token</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ path('adminHome') }}">Dashbiard</a></li>
        <li class="active">Token</li>
      </ol>
    </section>
	    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Token</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
                     <!-- /.box-header -->
            <div class="box-body">
               <div class="col-md-12">
                          <table id="example2" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>email</th>
                                <th>token</th>
                                <th>status</th>
                                <th>name</th>
                                <th>created_at</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                  <th>id</th>
                                  <th>email</th>
                                  <th>token</th>
                                  <th>status</th>
                                  <th>name</th>
                                  <th>created_at</th>
                            </tr>
                        </tbody>
                    </table>
                   </div>
                <div class="col-md-12">
                  <!-- Horizontal Form -->
                  <div class="box box-info">
                      <div class="box-header with-border">
                        <h3 class="box-title">Horizontal Form</h3>
                      </div>
                      {{ form_start(form, {'attr': {'id': 'createToken'}}) }}
                          <div class="box-body">
                              <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10" style="margin-bottom: 10px;">
                                  {{ form_widget(form.name) }}
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
              
                                <div class="col-sm-10" style="margin-bottom: 10px;">
                                  {{ form_widget(form.email) }}
                                </div>
                              </div>
                              {{ form_row(form._token) }}
                          </div>
                          <!-- /.box-body -->
                          <div class="box-footer">
                            <div class="col-sm-10 col-sm-offset-6">
                              <button type="submit" class="btn btn-info pull-center">Create</button>
                            </div>
                          </div>
                      <!-- /.box-footer -->
                      </form>
                  </div>
                  <!-- /.box --> 
            </div>
            <!-- /.box-body -->
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
{% endblock %}
 {% block javascripts %}
<script type="text/javascript">


 $(document).ready(function() {
console.log('qweqew');
      $("#example2").DataTable({
          "order": [[ 0, "desc" ]],
          "ajax": {
              "url": "{{path('tokens')}}",
              "dataSrc": "",
              "dataType": "json",
              "cache": false,
              "contentType": "application/json; charset=utf-8"
          },     
        
          "columnDefs": [
              { "name": "id" },
              { "name": "email" },
              { "name": "token" },
              { "name": "status" },
              { "name": "name" },
              { "name": "createdAt" }
          
          ],
          "columns": [
              { "data": "id" },
              { "data": "email" },
              { "data": "token" },
              { "data": "status" },
              { "data": "name" },
              { "data": "createdAt" }
          

          
           

            ]
       });


      $("#createToken").submit(function(e){

      e.preventDefault();
      var url = "{{ path('registerToken') }}";
      var formSerialize = $(this).serialize();

          $.post(url, formSerialize, function(response) {
              //your callback here
              if(response['return'] == 1){
                  $('#example2').DataTable().ajax.reload(null, false);
                   toastr["success"](response['msg']);

              }else{
                   toastr["error"](response['msg']);
              }
          
          }, 'JSON');
      });
 });

</script>
{% endblock %}
