{% extends 'adminBase.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
    <section class="content-header">
      <h1>
        Register
        <small>Register</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ path('adminHome') }}">Dashbiard</a></li>
        <li class="active">Register</li>
      </ol>
    </section>
	    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Register</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
                     <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-12">
                  <!-- Horizontal Form -->
                  <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title">Horizontal Form</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                   {{ form_start(form) }}
                      <div class="box-body">
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
        
                          <div class="col-sm-10" style="margin-bottom: 10px;">
                            {{ form_widget(form.name) }}
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
        
                          <div class="col-sm-10" style="margin-bottom: 10px;">
                            {{ form_widget(form.email) }}
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-2 control-label">Password</label>
        
                          <div class="col-sm-10" style="margin-bottom: 10px;">
                            {{ form_widget(form.plainPassword.first) }}
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-2 control-label">Retype</label>
        
                          <div class="col-sm-10" style="margin-bottom: 10px;">
                            {{ form_widget(form.plainPassword.second) }}
                            {{ form_row(form._token) }}
                          </div>
                        </div>
                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer">
                        <div class="col-sm-10 col-sm-offset-6">
                          <button type="submit" class="btn btn-info pull-center">Create</button>
                        </div>
                      </div>
                      <!-- /.box-footer -->
                    </form>
                  </div>
                  <!-- /.box -->
            </div>
            <!-- /.box-body -->
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
{% endblock %}
 {% block javascripts %}
<script type="text/javascript">
$('#example1').DataTable({
    
      "paging": false

    })
</script>
{% endblock %}
