{% extends 'adminBase.html.twig' %}

{% block title %}Admin{% endblock %}
{% block body %}
    {% block stylesheets %}
        <style type="text/css">
        .loginImage {
           background: url('{{asset('image/icon2.png')}}') no-repeat center center;
           background-size:35px;
          cursor: pointer; }
        </style>
    {% endblock %}
    <section class="content-header">
      <h1>
        Dashboard
        <small>it all starts here</small>
      </h1>
      <ol class="breadcrumb">
        
        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashbiard</li>
      
      </ol>
    </section>
	    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Title</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
         <div class="col-md-12">
                          <table id="example2" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>email</th>
                                <th>name</th>
                                <th>role</th>
                                <th>sub_end_date</th>
                                <th>trial</th>
                                <th>created_at</th>
                                <th>action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                  <th>id</th>
                                  <th>email</th>
                                  <th>name</th>
                                  <th>role</th>
                                  <th>sub_end_date</th>
                                  <th>trial</th>
                                  <th>created_at</th>
                                  <th>action</th>

                            </tr>
                        </tbody>
                    </table>
                   </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">


 $(document).ready(function() {
console.log('qweqew');
      $("#example2").DataTable({
          "order": [[ 0, "desc" ]],
          "ajax": {
              "url": "{{path('userJson')}}",
              "dataSrc": "",
              "dataType": "json",
              "cache": false,
              "contentType": "application/json; charset=utf-8"
          },     
        
          "columnDefs": [
              { "name": "id" },
              { "name": "email" },
              { "name": "name" },
              { "name": "role" },
              { "name": "subEndDate" },
              { "name": "trial" },
              { "name": "createdAt" },
              { "name": "action" }

          
          ],
          "columns": [
              { "data": "id" },
              { "data": "email" },
              { "data": "name" },
              { "data": "role" },
              { "data": "subEndDate" },
              { "data": "trial" },
              { "data": "createdAt" },
              
             { 
                "data": null, 
                    render: function (data, type, row) {
                        var id = row.id ;
                        var url = '{{ path("homepage", {'_morning_star_switch_user_by_id': 'article_id'}) }}'; 
                        var image = '{{ asset('image/icon2.png') }}';
                        url = url.replace("article_id", id);
                        
                        return "<a  href='"+url+"'><img src='"+image+"'style='    width: 40px;'/></a>"; 
                        
                    }      
              }
              
            ]
       });


 });

</script>
{% endblock %}

