{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('vendor/FlipClock/compiled/flipclock.css')}}" />
<style type="text/css">
.flip-clock-wrapper .flip-clock-divider .flip-clock-label {
    color: white;
}</style>
</style>
{% endblock %}
{% block title %}Profile{% endblock %}

{% block body %}
	
  <!-- Main Content -->
    <div class="nk-page-background" data-bg-mp4="../../video/ashe.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax small" style="background: none;">

      <div class="youplay-user-navigation">
        <div class="container">
          <ul>
            <li class="active"><a href="{{ path('activity') }}">Activity</a>
            </li>
            <li><a href="{{ path('settings') }}">Settings</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="info">
        <div>
          <div class="container youplay-user">
            <a href="{{ avatar }}" class="angled-img image-popup">
              <div class="img">
                <img src="{{ avatar }}" alt="">
              </div>
              <i class="fa fa-search-plus icon"></i>
            </a>
            <!--
                -->
            <div class="user-data">
              <h2>{{app.user.name}}</h2>
              <div class="location"><i class="fa fa-map-marker"></i> {{app.user.email}}</div>
              <div class="activity">
                <div >
                  <div class="num" style="margin-bottom:13px">0</div>
                  <div class="title" >Posts</div>
                </div>
                {% if clock == 1 %}
                <div>
                  <div class="clock" style="zoom: 0.4;"></div>
                  <div class="title">Subscription countdown</div>
                </div>
              {% else %}
                <div>
                 <div class="">Subscription expired</div>
               </div>
              {% endif %}
              </div>
            </div>
          </div>

          <div class="container mt-20">
            <a href="{{ path('forum') }}" class="btn btn-sm btn-default btn-bg ml-0">Report a scammer</a>
            <a href="{{ path('search') }}" class="btn btn-sm btn-success btn-bg">List of scammers</a>
            <a href="{{ path('job-list') }}" class="btn btn-sm btn-primary btn-bg">Job applications</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

    <div class="container youplay-content mb-50">

      <div class="row">

        <div class="col-md-9 youplay-form">

          <!-- Activity -->
          <h2 class="mt-0">Activity</h2>
          <div class="youplay-timeline">
              {% if news is empty %}
                    There are no new messages
              {% else %}
                  {% for new in news %}
                      <div class="youplay-timeline-block">
                          <div class="youplay-timeline-icon" style="background: transparent;" >
                              <img src="{{ avatar }}" alt="John Doe" title="John Doe">
                          </div>
                          <div class="youplay-timeline-content">
                              <h3 class="mb-0">{{ new.n_message_name }}</h3>
                              <span class="youplay-timeline-date pt-0">{{new.n_Created_at|time_ago_in_words}}</span>
                              <div class="col-sm-10" style="word-wrap: break-word;">
                                  {{new.content| raw}}{% if new.content_length > 100 %} ... {% endif %}
                              </div>
                              <div class="col-sm-2 "style="text-align:center">
                                  {% if new.n_message_type == 1 or new.n_message_type == 2 %}
                                       <a href='{{ path('singleTopic', {'topic_id': new.n_topic_id }) }}' class="btn btn-sm btn-primary">Details</a>
                                  {% elseif new.n_message_type == 3 %}
                                      <a href='' class="btn btn-sm">Details</a>
                                  {% endif %}
                              </div>
                          </div>
                      <!-- /content -->
                      </div>
                  {% endfor %}
              {% endif %}
          </div>
          <!-- /Activity -->

        </div>

        <!-- Right Side -->
        <div class="col-md-3">
          <div class="side-block">
            <h4 class="block-title">What's new</h4>
            <div class="block-content pt-5">
             <a href="{{ path('news') }}" class="btn btn-primary">Go to news</a>
            </div>
          </div>
          <div class="side-block">
            <h4 class="block-title">Add subscription time</h4>
            <div class="block-content">
              <a href="{{ path('shop') }}" class="btn btn-success">Go to shop</a>
            </div>
          </div>
        </div>
        <!-- Right Side -->

      </div>

    </div>

  <!-- /Main Content -->
{% endblock %}
{% block javascripts %}

 <script type="text/javascript" src="{{ asset('vendor/FlipClock/compiled/flipclock.min.js')}}"></script>

<script type="text/javascript">
      var clock;

      $(document).ready(function() {
        var diff2 = {{dateEnd}} -{{dateStart}};

        // Instantiate a coutdown FlipClock
        clock = $('.clock').FlipClock(diff2, {
          clockFace: 'DailyCounter',
          countdown: true,
          showSeconds: false
        });
      });
    </script>
{% endblock %}