{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('vendor/FlipClock/compiled/flipclock.css')}}" />
<style type="text/css">
.flip-clock-wrapper .flip-clock-divider .flip-clock-label {
    color: white;
}</style>
</style>
{% endblock %}
{% block title %}Profile{% endblock %} 

{% block body %}
	
  <!-- Main Content -->
    <div class="nk-page-background" data-bg-mp4="../../video/ashe.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax small" style="background: none;">

      <div class="youplay-user-navigation">
        <div class="container">
          <ul>
            <li ><a href="{{ path('activity') }}">Activity</a>
            </li>
            <li class="active"><a href="{{ path('profile') }}">Profile</a>
            </li>
            <li><a href="{{ path('settings') }}">Settings</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="info">
        <div>
          <div class="container youplay-user">
            <a href="{{ avatar }}" class="angled-img image-popup">
              <div class="img">
                <img src="{{ avatar }}" alt="">
              </div>
              <i class="fa fa-search-plus icon"></i>
            </a>
            <!--
                -->
            <div class="user-data">
              <h3>{{app.user.name}}</h3>
              <div class="location"><i class="fa fa-map-marker"></i> {{app.user.email}}</div>
              <div class="activity">
                <div >
                  <div class="num" style="margin-bottom:13px">0</div>
                  <div class="title" >Posts</div>
                </div>
                {% if clock == 1 %}
                <div>
                  <div class="clock" style="zoom: 0.4;"></div>
                  <div class="title">Subscription countdown</div>
                </div>
              {% else %}
                <div>
                 <div class="">Subscription expired</div>
               </div>
              {% endif %}
              </div>
            </div>
          </div>

          <div class="container mt-20">
            <a href="#!" class="btn btn-sm btn-success btn-bg ml-0">Add Post</a>
            <a href="#!" class="btn btn-sm btn-success btn-bg">Jobs</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

    <div class="container youplay-content mb-50">

      <div class="row">

        <div class="col-md-12 youplay-form">
<p>Nulla nibh arcu, imperdiet et mollis non, varius at arcu. Sed dapibus dui nisl, ac imperdiet nibh sollicitudin sed. Suspendisse rhoncus ullamcorper leo, ut porta nisl varius et. Cras tincidunt imperdiet urna, id luctus augue ornare sed. Nullam pellentesque eleifend elementum. Praesent non cursus leo, quis ultricies tortor. Sed scelerisque eros in mauris tincidunt posuere. Quisque dignissim facilisis felis, id sollicitudin mauris feugiat et.Nulla nibh arcu, imperdiet et mollis non, varius at arcu. Sed dapibus dui nisl, ac imperdiet nibh sollicitudin sed. Suspendisse rhoncus ullamcorper leo, ut porta nisl varius et. Cras tincidunt imperdiet urna, id luctus augue ornare sed. Nullam pellentesque eleifend elementum. Praesent non cursus leo, quis ultricies tortor. Sed scelerisque eros in mauris tincidunt posuere. Quisque dignissim facilisis felis, id sollicitudin mauris feugiat et.Nulla nibh arcu, imperdiet et mollis non, varius at arcu. Sed dapibus dui nisl, ac imperdiet nibh sollicitudin sed. Suspendisse rhoncus ullamcorper leo, ut porta nisl varius et. Cras tincidunt imperdiet urna, id luctus augue ornare sed. Nullam pellentesque eleifend elementum. Praesent non cursus leo, quis ultricies tortor. Sed scelerisque eros in mauris tincidunt posuere. Quisque dignissim facilisis felis, id sollicitudin mauris feugiat et.Nulla nibh arcu, imperdiet et mollis non, varius at arcu. Sed dapibus dui nisl, ac imperdiet nibh sollicitudin sed. Suspendisse rhoncus ullamcorper leo, ut porta nisl varius et. Cras tincidunt imperdiet urna, id luctus augue ornare sed. Nullam pellentesque eleifend elementum. Praesent non cursus leo, quis ultricies tortor. Sed scelerisque eros in mauris tincidunt posuere. Quisque dignissim facilisis felis, id sollicitudin mauris feugiat et.Nulla nibh arcu, imperdiet et mollis non, varius at arcu. Sed dapibus dui nisl, ac imperdiet nibh sollicitudin sed. Suspendisse rhoncus ullamcorper leo, ut porta nisl varius et. Cras tincidunt imperdiet urna, id luctus augue ornare sed. Nullam pellentesque eleifend elementum. Praesent non cursus leo, quis ultricies tortor. Sed scelerisque eros in mauris tincidunt posuere. Quisque dignissim facilisis felis, id sollicitudin mauris feugiat et.Nulla nibh arcu, imperdiet et mollis non, varius at arcu. Sed dapibus dui nisl, ac imperdiet nibh sollicitudin sed. Suspendisse rhoncus ullamcorper leo, ut porta nisl varius et. Cras tincidunt imperdiet urna, id luctus augue ornare sed. Nullam pellentesque eleifend elementum. Praesent non cursus leo, quis ultricies tortor. Sed scelerisque eros in mauris tincidunt posuere. Quisque dignissim facilisis felis, id sollicitudin mauris feugiat et.Nulla nibh arcu, imperdiet et mollis non, varius at arcu. Sed dapibus dui nisl, ac imperdiet nibh sollicitudin sed. Suspendisse rhoncus ullamcorper leo, ut porta nisl varius et. Cras tincidunt imperdiet urna, id luctus augue ornare sed. Nullam pellentesque eleifend elementum. Praesent non cursus leo, quis ultricies tortor. Sed scelerisque eros in mauris tincidunt posuere. Quisque dignissim facilisis felis, id sollicitudin mauris feugiat et.Nulla nibh arcu, imperdiet et mollis non, varius at arcu. Sed dapibus dui nisl, ac imperdiet nibh sollicitudin sed. Suspendisse rhoncus ullamcorper leo, ut porta nisl varius et. Cras tincidunt imperdiet urna, id luctus augue ornare sed. Nullam pellentesque eleifend elementum. Praesent non cursus leo, quis ultricies tortor. Sed scelerisque eros in mauris tincidunt posuere. Quisque dignissim facilisis felis, id sollicitudin mauris feugiat et.Nulla nibh arcu, imperdiet et mollis non, varius at arcu. Sed dapibus dui nisl, ac imperdiet nibh sollicitudin sed. Suspendisse rhoncus ullamcorper leo, ut porta nisl varius et. Cras tincidunt imperdiet urna, id luctus augue ornare sed. Nullam pellentesque eleifend elementum. Praesent non cursus leo, quis ultricies tortor. Sed scelerisque eros in mauris tincidunt posuere. Quisque dignissim facilisis felis, id sollicitudin mauris feugiat et.</p>
       </div>

      </div>

    </div>
  <!-- /Main Content -->
{% endblock %}
{% block javascripts %}

 <script type="text/javascript" src="{{ asset('vendor/FlipClock/compiled/flipclock.min.js')}}"></script>

<script type="text/javascript">
      var clock;

      $(document).ready(function() {
        var diff2 = {{dateEnd}} -{{dateStart}};

        // Instantiate a coutdown FlipClock
        clock = $('.clock').FlipClock(diff2, {
          clockFace: 'DailyCounter',
          countdown: true,
          showSeconds: false
        });
      });
    </script>
{% endblock %}
