{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('vendor/FlipClock/compiled/flipclock.css')}}" />
<style type="text/css">
.flip-clock-wrapper .flip-clock-divider .flip-clock-label {
    color: white;
}</style>
</style>
{% endblock %}
{% block title %}Profile{% endblock %}

{% block body %}
	
  <!-- Main Content -->
    <div class="nk-page-background" data-bg-mp4="../../video/ashe.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax small" style="background: none;">

      <div class="youplay-user-navigation">
        <div class="container">
          <ul>
            <li><a href="{{ path('activity') }}">Activity</a>
            </li>
            <li class="active"><a href="{{ path('settings') }}">Settings</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="info">
        <div>
          <div class="container youplay-user">
            <a href="{{ avatar }}" class="angled-img image-popup">
              <div class="img">
                <img src="{{ avatar }}" alt="">
              </div>
              <i class="fa fa-search-plus icon"></i>
            </a>
            <!--
                -->
            <div class="user-data">
              <h2>{{app.user.name}}</h2>
              <div class="location"><i class="fa fa-map-marker"></i> {{app.user.email}}</div>
              <div class="activity">
                <div >
                  <div class="num" style="margin-bottom:13px">0</div>
                  <div class="title" >Posts</div>
                </div>
                {% if clock == 1 %}
                <div>
                  <div class="clock" style="zoom: 0.4;"></div>
                  <div class="title">Subscription countdown</div>
                </div>
              {% else %}
                <div>
                 <div class="">Subscription expired</div>
               </div>
              {% endif %}
              </div>
            </div>
              {% for flashMessage in app.session.flashbag.get('error') %}
                  {{ flashMessage }}
              {% endfor %}
      
              {% for flashMessage in app.session.flashbag.get('success') %}
                  {{ flashMessage }}
              {% endfor %}
          </div>

          <div class="container mt-20">
            <a href="{{ path('forum') }}" class="btn btn-sm btn-default btn-bg ml-0">Report a scammer</a>
            <a href="{{ path('search') }}" class="btn btn-sm btn-success btn-bg">Scammer list</a>
            <a href="{{ path('job-list') }}" class="btn btn-sm btn-primary btn-bg">Job applications</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

    <div class="container youplay-content mb-50">

      <div class="row">

        <div class="col-md-9 youplay-form">

          {{ form_start(avatarForm, enctype="multipart/form-data") }}
            <h3>Change avatar:</h3>
        
              <div class="form-horizontal mt-30 mb-40">
              <div class="form-group">
                <label class="control-label col-sm-2" for="new_email">Upload image:</label>
                <div class="col-sm-10">
                  <div class="angled-bg" style="padding: 0.7rem 1.8rem; color:white!important;">
                    {{ form_widget(avatarForm.avatar) }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  {{ form_widget(avatarForm.submit) }}
                </div>
              </div>
          </div>
        {{ form_end(avatarForm) }}


        {{ form_start(user_form, {attr: {novalidate: 'novalidate'}}) }} 
            <h3>Change Password:</h3>

            {% if user_errors %}                    
                {% for item in user_errors %}
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="alert alert-danger" style="text-align:center">
                            {{ item }}
                        </div>
                    </div>
                {% endfor %}     
            {% endif %}

            <div class="form-horizontal mt-30 mb-40">
              <div class="form-group">
                <label class="control-label col-sm-2" for="cur_password">Current Password:</label>
                <div class="col-sm-10">
                  <div class="youplay-input">
                      {{ form_widget(user_form.password) }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="new_password">New Password:</label>
                <div class="col-sm-10">
                  <div class="youplay-input">
                      {{ form_widget(user_form.plainPassword.first) }}
                  </div>
                </div>
              </div>
               <div class="form-group">
                <label class="control-label col-sm-2" for="new_password">Repeat Password:</label>
                <div class="col-sm-10">
                  <div class="youplay-input">
                      {{ form_widget(user_form.plainPassword.second) }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">Change Password</button>
                </div>
              </div>
            </div>
        {{ form_end(user_form) }}

        {{ form_start(email_form) }} 
            <h3>Email:</h3>

            {% if email_errors %}                    
                {% for item in email_errors %}
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="alert alert-danger" style="text-align:center">
                            {{ item }}
                        </div>
                    </div>
                {% endfor %}     
            {% endif %}

            <div class="form-horizontal mt-30 mb-40">
              <div class="form-group">
                <label class="control-label col-sm-2">Current Email:</label>
                <div class="col-sm-10">
                 {{email_hash}}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="new_email">New Email:</label>
                <div class="col-sm-10">
                  <div class="youplay-input">
                   {{ form_widget(email_form.email) }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">Change Email</button>
                </div>
              </div>
            </div>
        {{ form_end(email_form) }}

            <h3>Mute background music:</h3>
            <div class="form-horizontal mt-30 mb-40">
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="youplay-checkbox">
                    <input type="checkbox" name="appearance" id="appearance">
                    <label for="appearance">On/Off</label>
                  </div>
                </div>
              </div>
            </div>
         

        </div>

        <!-- Right Side -->
        <div class="col-md-3">
          <div class="side-block">
            <h4 class="block-title">What's new</h4>
            <div class="block-content pt-5">
             <a href="{{ path('news') }}" class="btn btn-primary">Go to news</a>
            </div>
          </div>
          <div class="side-block">
            <h4 class="block-title">Add subscription time</h4>
            <div class="block-content">
              <a href="{{ path('shop') }}" class="btn btn-success">Go to shop</a>
            </div>
          </div>
        </div>
        <!-- Right Side -->

      </div>

    </div>
  <!-- /Main Content -->
{% endblock %}
{% block javascripts %}

 <script type="text/javascript" src="{{ asset('vendor/FlipClock/compiled/flipclock.min.js')}}"></script>

<script type="text/javascript">
      var clock;

      $(document).ready(function() {
        var diff2 = {{dateEnd}} -{{dateStart}};

        // Instantiate a coutdown FlipClock
        clock = $('.clock').FlipClock(diff2, {
          clockFace: 'DailyCounter',
          countdown: true,
          showSeconds: false
        });
      });
    </script>

 <script type="text/javascript" src="{{ asset('vendor/FlipClock/compiled/flipclock.min.js')}}"></script>

<script type="text/javascript">
      var clock;

      $(document).ready(function() {
        var diff2 = {{dateEnd}} -{{dateStart}};

        // Instantiate a coutdown FlipClock
        clock = $('.clock').FlipClock(diff2, {
          clockFace: 'DailyCounter',
          countdown: true,
          showSeconds: false
        });
      });
    </script>
{% endblock %}