<h3>Change Password:</h3><div>
{{ form_start(user_form) }}
 {{ form_widget(user_form) }}
 

{{ form_end(user_form) }}
</div>

<h3>Change avatar:</h3><div>
       {{ form_start(avatarForm) }}
              <div class="form-horizontal mt-30 mb-40">
              <div class="form-group">
                <label class="control-label col-sm-2" for="new_email">Upload image:</label>
                <div class="col-sm-10">
                  <div class="youplay-input">
                  {{ form_widget(avatarForm.imageFile) }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Change avatar</button>
                </div>
              </div>
           
                 {{ form_end(avatarForm) }}
          </div>