{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
  <!-- Main Content -->
  <section class="content-wrap full youplay-login" style="background: none;">
    <div class="nk-page-background" data-bg-mp4="../video/warcraft.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top" style="background: none;">

      <div class="info">
        <div>
          <div class="container align-center">
            <div class="youplay-form">
              <h1>Login</h1>
              {% for flashMessage in app.session.flashbag.get('error') %}
                  <div class="alert alert-danger">
                      {{ flashMessage }}
                  </div>
              {% endfor %}                
              {% for flashMessage in app.session.flashbag.get('success') %}
                  <div class="alert alert-success">
                      {{ flashMessage }}
                  </div>
              {% endfor %}

              {% if error %}
                  <div class="alert alert-danger">
                      {{ error.messageKey|trans(error.messageData) }}
                  </div>
              {% endif %}
              <!--<div class="btn-group social-list dib">
                <a class="btn btn-default" title="Share on Facebook" href="#!"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-default" href="#!" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-default" href="#!" title="Share on Google Plus"><i class="fa fa-google-plus"></i></a>
              </div> -->

              <form class="form-horizontal" role="form" method="POST" action="{{ path('security_login_check') }}">
                <div class="youplay-input">
                  <input id="email" type="email" class="form-control" name="_email" value="{{ last_username }}" placeholder="email">
                </div>
                <div class="youplay-input">
                   <input id="password" type="password" class="form-control" name="_password" placeholder="password">
                </div>
                <button class="btn btn-success db">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

  </section>
  <!-- /Main Content -->
{% endblock %}
