{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
  <!-- Main Content -->
  <section class="content-wrap full youplay-login" style="background: none;">
    <div class="nk-page-background" data-bg-mp4="../video/ashe.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner banner-top" style="background: none;">

      <div class="info">
        <div>
          <div class="container align-center">
            <div class="youplay-form">

              <h1>Register</h1>

              <!-- <div class="btn-group social-list dib">
                <a class="btn btn-default" title="Share on Facebook" href="#!"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-default" href="#!" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-default" href="#!" title="Share on Google Plus"><i class="fa fa-google-plus"></i></a>
              </div> -->

              {{ form_start(form) }}

                <div class="youplay-input">
                   {{ form_widget(form.name, { 'attr': {'value': token.name, 'readonly': 'readonly', 'style': 'background-color:green'} }) }}
                </div>
                <div class="youplay-input">
                     {{ form_widget(form.email, { 'attr': {'value': token.email, 'readonly': 'readonly', 'style': 'background-color:green'} }) }}
                </div>
                 <div class="youplay-input">
                       {{ form_widget(form.plainPassword.first) }}
                </div>
                 <div class="youplay-input">
                     {{ form_widget(form.plainPassword.second) }}
                </div>
                     {{ form_widget(form.terms) }}
                    <label for="appearance">I agree to the <a href="{{ path('terms') }}" target="_blank">Terms of Service</a></label>
              
                {{ form_row(form._token) }}
                <button type="submit" class="btn btn-success db">Register</button>

                    <!-- <p>{{ form_errors(form) }}</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

  </section>
  <!-- /Main Content -->
{% endblock %}
