{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block body %}   


	<!-- Main Content -->
    <div class="nk-page-background" data-bg-mp4="../video/sona.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner youplay-banner-parallax banner-top small" style="background: none;">

      <div class="info">
        <div>
          <div class="container">
            <h1>Contact Us</h1>
            	{% for flashMessage in app.session.flashbag.get('error') %}
    			{{ flashMessage }}
				{% endfor %}
			
				{% for flashMessage in app.session.flashbag.get('success') %}
    			{{ flashMessage }}
				{% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->
    <div class="container youplay-content">
      <div class="row">
        <div class="col-md-9 col-md-push-3">
          <!-- Contact Form -->
          <div class="youplay-form" style="margin-bottom: 180px;">
            <h2 class="mt-0">Drop us a line</h2>

           {{ form_start(form) }}
              <div class="row">
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                    {{ form_widget(form.name) }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="youplay-input form-group">
                   {{ form_widget(form.email) }}
                  </div>
                </div>
              </div>
              <div class="youplay-textarea form-group">
               {{ form_widget(form.message) }}
              </div>
               <div style="display:none">
        		{{ form_rest(form) }}
    			</div>
              <button type="submit" class="btn btn-default">Submit</button>
            {{ form_end(form) }}
          </div>
          <!-- /Contact Form -->
        </div>
        <div class="col-md-3 col-md-pull-9" style="padding-top: 4rem;">
          <h2 class="mt-0">Contact info</h2>
          Skype: SafeBoosters
          <br>Email: <a href="mailto:SafeBoosters@gmail.com">SafeBoosters@gmail.com</a>
          <br>
          <br>If you are manager of boosting website and want to join our community, please contact us, so we can verify you.
        </div>
      </div>
    </div>
  <!-- /Main Content -->
{% endblock %}
	