{% extends 'base.html.twig' %}

{% block title %}Boosting Job Applications{% endblock %}
{% block body %}
{% block stylesheets %}
  <style type="text/css">
  .angled-bg:after{
    background: none; }
     .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
       color: white !important;
    cursor: not-allowed !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

  </style>
{% endblock %}
  <!-- Main Content -->
    <div class="nk-page-background" data-bg-mp4="../video/lucian.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner youplay-banner-parallax banner-top small" style="background: none;">

      <div class="info">
        <div>
          <div class="container">
            <h1>Job Applications</h1>
              {% for flashMessage in app.session.flashbag.get('error') %}
          {{ flashMessage }}
        {% endfor %}
      
        {% for flashMessage in app.session.flashbag.get('success') %}
          {{ flashMessage }}
        {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->
    <div class="container youplay-store youplay-news news-grid">
      <!-- Games List -->
      <div class="col-md-12 isotope">
        <!-- Sort Categories -->
        <ul class="pagination isotope-options row vertical-gutter multi-columns-row" style="margin-top:-40px; margin-bottom: 40px;">
          <li data-filter="all"><a class="" href="{{ path('job-list', {'type': 0}) }}"><span>All</span></a>
          </li>
          <li data-filter="lol"><a class="" href="{{ path('job-list', {'type': 1}) }}"><span>LoL</span></a>
          </li>
          <li data-filter="cs"><a class="" href="{{ path('job-list', {'type': 2}) }}"><span>CS: GO</span></a>
          </li>
          <li data-filter="overwatch"><a class="" href="{{ path('job-list', {'type': 3}) }}"><span>Overwatch</span></a>
          </li>
          <li data-filter="hs"><a class="" href="{{ path('job-list', {'type': 4}) }}"><span>Hearthstone</span></a>
          </li>
          <li data-filter="dota"><a class="" href="{{ path('job-list', {'type': 5}) }}"><span>Dota 2</span></a>
          </li>
          <li data-filter="wow"><a class="" href="{{ path('job-list', {'type': 6}) }}"><span>WoW</span></a>
          </li>
          <li data-filter="hots"><a class="" href="{{ path('job-list', {'type': 7}) }}"><span>HotS</span></a>
          </li>

        </ul>
        <!-- /Sort Categories -->

        <div class="isotope-list">

      <!-- News List -->
      <div class="row vertical-gutter multi-columns-row" id="jobevent">
        <!-- Single News Block -->

        
        {% for job in pagination %}
            {% if job.type == 1 %}
                <a href="#!" class="jobeventonclick item angled-bg col-lg-3 col-md-4 col-sm-6" data-id="{{job.id}}">
                  <div class="">
                    <div class="news-one">
                      <div href="blog-post-1.html" class="angled-img">
                        <div class="img img-offset">
                          <img src="{{asset('image/home/League of Legends.jpg')}}" alt="">
                        </div>
                        <div class="bottom-info align-center">
                            <h3><span class="titleToggle">League of Legends - Job application!</span></h3>
                          
                          
                          <span class="date"><i class="fa fa-calendar"></i> {{job.Created_at|date('Y-m-d')}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
            {% elseif job.type == 2 %}
                <a href="#!" class="jobeventonclick item angled-bg col-lg-3 col-md-4 col-sm-6" data-id="{{job.id}}">
                  <div class="">
                    <div class="news-one">
                      <div href="blog-post-2.html" class="angled-img">
                        <div class="img img-offset">
                          <img src="{{asset('image/home/Counter-Strike.jpg')}}" alt="">
                        </div>
                        <div class="bottom-info align-center">
                          <h3>Counter-Strike: GO - Job application!</h3>
                          <span class="date"><i class="fa fa-calendar"></i> {{job.Created_at|date('Y-m-d')}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
            {% elseif job.type == 3 %}
                <a href="#!" class="jobeventonclick item angled-bg col-lg-3 col-md-4 col-sm-6" data-id="{{job.id}}">
                    <div class="">
                      <div class="news-one">
                        <div href="#!" class="angled-img">
                          <div class="img img-offset">
                            <img src="{{asset('image/home/Overwatch.jpg')}}" alt="">
                          </div>
                          <div class="bottom-info align-center">
                            <h3>Overwatch - Job application!</h3>
                            <span class="date"><i class="fa fa-calendar"></i> {{job.Created_at|date('Y-m-d')}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            {% elseif job.type == 4 %}
                <a href="#!" class="jobeventonclick item angled-bg col-lg-3 col-md-4 col-sm-6" data-id="{{job.id}}">
                    <div class="">
                      <div class="news-one">
                        <div href="#!" class="angled-img">
                          <div class="img img-offset">
                            <img src="{{asset('image/home/Hearthstone.jpg')}}" alt="">
                          </div>
                          <div class="bottom-info align-center">
                            <h3>Hearthstone - Job application!</h3>
                            <span class="date"><i class="fa fa-calendar"></i> {{job.Created_at|date('Y-m-d')}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            {% elseif job.type == 5 %}
                <a href="#!" class="jobeventonclick item angled-bg col-lg-3 col-md-4 col-sm-6" data-id="{{job.id}}">
                    <div class="">
                      <div class="news-one">
                        <div href="#!" class="angled-img">
                          <div class="img img-offset">
                            <img src="{{asset('image/home/Dota 2.jpg')}}" alt="">
                          </div>
                          <div class="bottom-info align-center">
                            <h3>Dota 2 - Job application!</h3>
                           <span class="date"><i class="fa fa-calendar"></i> {{job.Created_at|date('Y-m-d')}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
              </a>
                {% elseif job.type == 6 %}
                 <a href="#!" class="jobeventonclick item angled-bg col-lg-3 col-md-4 col-sm-6" data-id="{{job.id}}">
                      <div class="">
                        <div class="news-one">
                          <div href="#!" class="angled-img">
                            <div class="img img-offset">
                              <img src="{{asset('image/home/World of Warcraft.jpg')}}" alt="">
                            </div>
                            <div class="bottom-info align-center">
                              <h3>World of Warcraft - Job application!</h3>
                              <span class="date"><i class="fa fa-calendar"></i> {{job.Created_at|date('Y-m-d')}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
                {% elseif job.type == 7 %}
                <a href="#!" class="jobeventonclick item angled-bg col-lg-3 col-md-4 col-sm-6" data-id="{{job.id}}">
                    <div class="">
                      <div class="news-one">
                        <div href="#!" class="angled-img">
                          <div class="img img-offset">
                            <img src="{{asset('image/home/Heroes of the Storm.jpg')}}" alt="">
                          </div>
                          <div class="bottom-info align-center">
                            <h3>Heroes of the Storm - Job application!</h3>
                            <span class="date"><i class="fa fa-calendar"></i> {{job.Created_at|date('Y-m-d')}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            {% endif %}
            
        {% else %}
            <p> Woops there are no calls for work <p>
       {% endfor %}
    

        
      <!-- /News List -->

        </div>

      </div>
      <!-- /Games List -->
        {# display navigation #}
<div class="navigation text-center" style="">
    {{ knp_pagination_render(pagination) }}
</div>

    </div>
  </div>
<!-- Modal -->
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
               </button>
              <h4 class="modal-title" id="myModalLabel"></h4>
              </div>
              <div class="modal-body" >
                 <div class="preloader-wrapp" id="PleaseWait" style="display:none;padding-top:20px">
                  <img src="{{asset('image/logo.png')}}" alt="Jobs for boosters">
                  <div class="preloader"></div>
                </div>
                 <!-- <div id="contentModal"></div> -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
            </div>
          </div>
       </div>
        <!-- /Modals -->

  <!-- /Main Content -->
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#jobevent').on( 'click','.jobeventonclick', function (e) {
		 	var data = $(this).attr("data-id");

                        $(".contentModal").remove();
                        $('#myModalLabel').text('');
		 	$(".modal").modal('show').fadeIn(function() {
                        $('#PleaseWait').fadeIn('slow', function(){
                             e.preventDefault();
                        var url = "{{ path('jobDetails') }}";
                        var formSerialize = $(data).serialize();

                            $.post(url, {"id":data}, function(response) {
                                var data ='<div class="contentModal" style="display:none;"></div>';
                                if(response['return'] === 1){
                                    
                                    $("#PleaseWait").fadeOut("slow", function() {    
                                        
                                            if(response['response'][0].type === '1'){
                                                $('#myModalLabel').text('League of Legends - Job application');
                                                var dd ='Skype: '+ response['response'][0].skype+'<br>Email adress: '+ response['response'][0].email+'<br>Summoner name: '+ response['response'][0].summoner+'<br>Region: '+ response['response'][0].server+'<br>Roles: '+ response['response'][0].roles+'<br>Languages: '+ response['response'][0].laguage+'<br>Age: '+ response['response'][0].age+'<br>Order price % for start: '+ response['response'][0].persent+'<br>Hours available: '+ response['response'][0].hours+'<br>Coach: '+ response['response'][0].coach+'<br>Message: '+ response['response'][0].message;

                                            }else if(response['response'][0].type === '2'){
                                                $('#myModalLabel').text('Counter-Strike: GO - Job application!');
                                                var dd = 'Skype: '+ response['response'][0].skype+
                                                '<br>Email adress: '+ response['response'][0].email+
                                                '<br>Discord: ' +response['response'][0].discord+
                                                '<br>Full Name : '+ response['response'][0].fullName+
                                                '<br>Nickname: '+ response['response'][0].nickname+
                                                '<br>Where are you from?: '+ response['response'][0].whereAreYouFrom+
                                                '<br>Computer specs: '+ response['response'][0].specs+
                                                '<br>Age: '+ response['response'][0].age+
                                                '<br>CS:GO Rank/Facelt/ESEA Rank: '+ response['response'][0].csGoRank+
                                                '<br>Hours available: '+ response['response'][0].hours+
                                                '<br>Coach/Leveling: '+ response['response'][0].serviceType+
                                                '<br>How good you speak english: '+ response['response'][0].abilityToUseEnglish+
                                                '<br>Work or studying: '+ response['response'][0].workOrStudy+
                                                '<br>Languages: '+ response['response'][0].laguage+
                                                '<br>Test boost: '+ response['response'][0].testBoost+
                                                '<br>How much of the order price would you like be happy to start working and why?: '+ response['response'][0].persent+
                                                '<br>Stable internet: '+ response['response'][0].stableInternet+
                                                '<br>Experience as a booster: '+ response['response'][0].boosterExperience+
                                                '<br>Screenshot of your account in CS:GO client (imgur.com): '+ response['response'][0].accountScreenShot+
                                                '<br>Steam Profile, Facelit Profile, ESEA Profile, HLTV.org Profile: '+ response['response'][0].profile+
                                                '<br>Why should we hire you?: '+ response['response'][0].message;

                                            }else if(response['response'][0].type === '3'){
                                                $('#myModalLabel').text('Overwatch - Job application!');
                                                var dd = 'Skype: '+ response['response'][0].skype+
                                                '<br>Email adress: '+ response['response'][0].email+
                                                '<br>Discord: ' +response['response'][0].discord+
                                                '<br>Full Name : '+ response['response'][0].fullName+
                                                '<br>Nickname: '+ response['response'][0].nickname+
                                                '<br>Where are you from?: '+ response['response'][0].whereAreYouFrom+
                                                '<br>Computer specs: '+ response['response'][0].specs+
                                                '<br>Age: '+ response['response'][0].age+
                                                '<br>Rating: '+ response['response'][0].rank+
                                                '<br>Hours available: '+ response['response'][0].hours+
                                                '<br>Your highest SR(screenshot on imgur.com): '+ response['response'][0].sr+
                                                '<br>Platforms: '+ response['response'][0].platform+
                                                '<br>server: '+ response['response'][0].server+
                                                '<br>Stram: '+ response['response'][0].stream+
                                                '<br>Can you play DuoQ(on your own accounts)?: '+ response['response'][0].DuofromOwnAccount+
                                                '<br>What kind of service you can handle(coach/lvling): '+ response['response'][0].serviceType+
                                                '<br>How good you speak english: '+ response['response'][0].abilityToUseEnglish+
                                                '<br>Work or studying: '+ response['response'][0].workOrStudy+
                                                '<br>Languages: '+ response['response'][0].laguage+
                                                '<br>Test boost: '+ response['response'][0].testBoost+
                                                '<br>How much of the order price would you like be happy to start working and why?: '+ response['response'][0].persent+
                                                '<br>Stable internet: '+ response['response'][0].stableInternet+
                                                '<br>Experience as a booster: '+ response['response'][0].boosterExperience+
                                                '<br>Account showing Skill Rating and Name(imgur.com): '+ response['response'][0].accountScreenShot+
                                                '<br>Why should we hire you?: '+ response['response'][0].message;

                                            }else if(response['response'][0].type === '4'){
                                                $('#myModalLabel').text('Hearthstone - Job application!');
                                                var dd = 'Skype: '+ response['response'][0].skype+
                                                '<br>Email adress: '+ response['response'][0].email+
                                                '<br>Discord: ' +response['response'][0].discord+
                                                '<br>Full Name : '+ response['response'][0].fullName+
                                                '<br>Your Battle-tag and server: '+ response['response'][0].battleTag+
                                                '<br>Where are you from?: '+ response['response'][0].whereAreYouFrom+
                                                '<br>Current Rank *: '+ response['response'][0].rank+
                                                '<br>Age: '+ response['response'][0].age+
                                                '<br>Highest screen shot of account imgur.com): '+ response['response'][0].highestRankaccountScreenShot+
                                                '<br>Stram: '+ response['response'][0].stream+
                                                '<br>Hours available: '+ response['response'][0].hours+
                                                '<br>How good you speak english: '+ response['response'][0].abilityToUseEnglish+
                                                '<br>Work or studying: '+ response['response'][0].workOrStudy+
                                                '<br>Languages: '+ response['response'][0].laguage+
                                                '<br>Test boost: '+ response['response'][0].testBoost+
                                                '<br>How much of the order price would you like be happy to start working and why?: '+ response['response'][0].persent+
                                                '<br>Stable internet: '+ response['response'][0].stableInternet+
                                                '<br>Experience as a booster: '+ response['response'][0].boosterExperience+
                                                '<br>Account showing Rating and Name(imgur.com): '+ response['response'][0].accountScreenShot+
                                                '<br>Why should we hire you?: '+ response['response'][0].message;

                                            }else if(response['response'][0].type === '5'){
                                                $('#myModalLabel').text('Dota 2 - Job application!');
                                                var dd = 'Skype: '+ response['response'][0].skype+
                                                '<br>Email adress: '+ response['response'][0].email+
                                                '<br>Discord: ' +response['response'][0].discord+
                                                '<br>Full Name : '+ response['response'][0].fullName+
                                                '<br>Steam ID: '+ response['response'][0].steamId+
                                                '<br>Where are you from?: '+ response['response'][0].whereAreYouFrom+
                                                '<br>Servers : '+ response['response'][0].server+
                                                '<br>Age: '+ response['response'][0].age+
                                                '<br>Hours available: '+ response['response'][0].hours+
                                                '<br>Highest screen shot of account (imgur.com): '+ response['response'][0].highestRankaccountScreenShot+
                                                '<br>Computer specs: '+ response['response'][0].specs+
                                                '<br>Streaming: '+ response['response'][0].stream+
                                                '<br>Can you play DuoQ(on your own accounts)?: '+ response['response'][0].duofromOwnAccount+
                                                '<br>What kind of service you can handle(coach/lvling)?: '+ response['response'][0].serviceType+
                                                '<br>How good you speak english: '+ response['response'][0].abilityToUseEnglish+
                                                '<br>Work or studying: '+ response['response'][0].workOrStudy+
                                                '<br>Languages: '+ response['response'][0].laguage+
                                                '<br>Test boost: '+ response['response'][0].testBoost+
                                                '<br>How much of the order price would you like be happy to start working and why?: '+ response['response'][0].persent+
                                                '<br>Stable internet: '+ response['response'][0].stableInternet+
                                                '<br>Experience as a booster: '+ response['response'][0].boosterExperience+
                                                '<br>Account showing Rank and Name(imgur.com) *: '+ response['response'][0].accountScreenShot+
                                                '<br>Why should we hire you?: '+ response['response'][0].message;

                                            }else if(response['response'][0].type === '6'){
                                                $('#myModalLabel').text('WoW - Job application!');
                                                var dd = 'Skype: '+ response['response'][0].skype+
                                                '<br>Email adress: '+ response['response'][0].email+
                                                '<br>Discord: ' +response['response'][0].discord+
                                                '<br>Full Name : '+ response['response'][0].fullName+
                                                '<br>Character name or Armory Link *: '+ response['response'][0].nickname+
                                                '<br>Guild name: '+ response['response'][0].guildName+
                                                '<br>Faction: '+ response['response'][0].faction+
                                                '<br>Battle-tag and server: '+ response['response'][0].battleTag+
                                                '<br>Age: '+ response['response'][0].age+
                                                '<br>Computer specs: '+ response['response'][0].specs+
                                                '<br>Streaming: '+ response['response'][0].stream+
                                                '<br>How much time you can dedicate to that work?: '+ response['response'][0].hours+
                                                '<br>What kind of service you can handle(coach/lvling)?: '+ response['response'][0].serviceType+
                                                '<br>How good you speak english: '+ response['response'][0].abilityToUseEnglish+
                                                '<br>Work or studying: '+ response['response'][0].workOrStudy+
                                                '<br>Languages: '+ response['response'][0].laguage+
                                                '<br>Test boost: '+ response['response'][0].testBoost+
                                                '<br>How much of the order price would you like be happy to start working and why?: '+ response['response'][0].persent+
                                                '<br>Stable internet: '+ response['response'][0].stableInternet+
                                                '<br>Experience as a booster: '+ response['response'][0].boosterExperience+
                                                '<br>Screenshot of your account (imgur.com): '+ response['response'][0].accountScreenShot+
                                                '<br>Why should we hire you?: '+ response['response'][0].message;

                                            }else if(response['response'][0].type === '7'){
                                                $('#myModalLabel').text('HotS - Job application!');
                                                var dd = 'Skype: '+ response['response'][0].skype+
                                                '<br>Email adress: '+ response['response'][0].email+
                                                '<br>Discord: ' +response['response'][0].discord+
                                                '<br>Full Name : '+ response['response'][0].fullName+
                                                '<br>Battle-tag and server: '+ response['response'][0].battleTag+
                                                '<br>From: '+ response['response'][0].whereAreYouFrom+
                                                '<br>Servers (EU/Americas/Asia/SEAsia): '+ response['response'][0].server+
                                                '<br>Age: '+ response['response'][0].age+
                                                '<br>Current Rank or HotSLogs Profile Link: '+ response['response'][0].rank+
                                                '<br>How much time you can dedicate to that work?: '+ response['response'][0].hours+
                                                '<br>Highest Rank(screenshot on imgur.com) *: '+ response['response'][0].highestRankaccountScreenShot+
                                                '<br>Computer specs: '+ response['response'][0].specs+
                                                '<br>Streaming: '+ response['response'][0].stream+
                                                '<br>DuoQ(on your own accounts): '+ response['response'][0].DuofromOwnAccount+
                                                '<br>What kind of service you can handle(coach/lvling)?: '+ response['response'][0].serviceType+
                                                '<br>How good you speak english: '+ response['response'][0].abilityToUseEnglish+
                                                '<br>Work or studying: '+ response['response'][0].workOrStudy+
                                                '<br>Languages: '+ response['response'][0].laguage+
                                                '<br>Test boost: '+ response['response'][0].testBoost+
                                                '<br>How much of the order price would you like be happy to start working and why?: '+ response['response'][0].persent+
                                                '<br>Stable internet: '+ response['response'][0].stableInternet+
                                                '<br>Experience as a booster: '+ response['response'][0].boosterExperience+
                                                '<br>Screenshot of your account showing Rank and BTag(imgur.com): '+ response['response'][0].accountScreenShot+
                                                '<br>Why should we hire you?: '+ response['response'][0].message;

                                            }else{
                                                $('#contentModal').html('No data');
                                            }
                                          $(data).appendTo('.modal-body').fadeIn('slow');

                                         jQuery('.contentModal').html(dd, 500);
                                    });
                                    
                                      
                                      
                                     

                                }else{
                                     
                                     toastr["error"](response['msg']);
                                }

                            }, 'JSON');
                        });
                        });
                     
                       

                                   });
                          });
</script>
{% endblock %}