{% extends 'base.html.twig' %}

{% block title %}Elo Boosting Jobs Application - SafeBoosters.com - Job for Elo Boosters{% endblock %}
{% block description %}Send one job application to most of Elo Boosting sites from one place and work as LoL, Overwatch, Counter-Strike, Hearthstone, Dota 2, WoW or HotS Booster.{% endblock %}
{% block body %}


  <!-- Main Content -->
    <div class="nk-page-background" data-bg-mp4="../video/boosting-jobs.mp4"></div>
    <!-- Banner -->
    <div class="youplay-banner youplay-banner-parallax banner-top small" style="background: none;">

      <div class="info">
        <div>
          <div class="container">
            <h1>Boosting job application</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

    <div class="container youplay-content">

      <div class="row">
        <div class="col-md-9 col-md-push-3">
          <!-- Contact Form -->
          <div class="youplay-form mb-40">
            <h2 class="mt-0">Fill and send application to boosting sites managers:</h2>
            <!-- Tabs -->
            <div role="tabpanel">
      
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#lol" aria-controls="lol" role="tab" data-toggle="tab">LoL</a>
                </li>
                <li role="presentation"><a href="#cs" aria-controls="cs" role="tab" data-toggle="tab">CS: GO</a>
                </li>
                <li role="presentation"><a href="#overwatch" aria-controls="overwatch" role="tab" data-toggle="tab">Overwatch</a>
                </li>
                <li role="presentation"><a href="#hs" aria-controls="hs" role="tab" data-toggle="tab">Hearthstone</a>
                </li>
                <li role="presentation"><a href="#dota" aria-controls="dota" role="tab" data-toggle="tab">Dota 2</a>
                </li>
                <li role="presentation"><a href="#wow" aria-controls="wow" role="tab" data-toggle="tab">WoW</a>
                </li>
                <li role="presentation"><a href="#hots" aria-controls="hots" role="tab" data-toggle="tab">HotS</a>
                </li>
              </ul>
              {% if jobRrrors %}                    
                {% for item in jobRrrors %}
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="alert alert-danger" style="text-align:center">
                            {{ item }}
                        </div>
                    </div>
                {% endfor %}     
              {% endif %}
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="lol">
                  {{ form_start(lolJonform) }}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(lolJonform.skype) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(lolJonform.email) }}
                      </div>
                    </div>
                  </div>
              
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                       {{ form_widget(lolJonform.summoner) }}
                      </div>
                    </div>
                  
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(lolJonform.server) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(lolJonform.roles) }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(lolJonform.laguage) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(lolJonform.age) }}
                      </div>
                    </div>
                  </div>
    
                    <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                       {{ form_widget(lolJonform.persent) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(lolJonform.hours) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(lolJonform.coach) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="youplay-textarea form-group">
                   {{ form_widget(lolJonform.message) }}
                  </div>
                  <div style="display:none">
                     {{ form_widget(lolJonform.type, { 'attr': {'value': '1'} }) }}
                    {{ form_rest(lolJonform) }}
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                  *Required

                  {{ form_end(lolJonform) }}
                </div>
                <div role="tabpanel" class="tab-pane" id="cs">
                  {{ form_start(CSGOform) }}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(CSGOform.skype) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(CSGOform.email) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(CSGOform.discord) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(CSGOform.fullName) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                      {{ form_widget(CSGOform.nickname) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                         {{ form_widget(CSGOform.whereAreYouFrom) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(CSGOform.specs) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(CSGOform.age) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(CSGOform.csGoRank) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(CSGOform.hours) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                         {{ form_widget(CSGOform.serviceType) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(CSGOform.abilityToUseEnglish) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                         {{ form_widget(CSGOform.workOrStudy) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(CSGOform.laguage) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(CSGOform.testBoost) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(CSGOform.persent) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(CSGOform.stableInternet) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(CSGOform.boosterExperience) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                       {{ form_widget(CSGOform.accountScreenShot) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-textarea form-group">
                      {{ form_widget(CSGOform.profile) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-textarea form-group">
                       {{ form_widget(CSGOform.message) }}
                      </div>
                    </div>
                  </div>
                   <div style="display:none">
                     {{ form_widget(CSGOform.type, { 'attr': {'value': '2'} }) }}
                    {{ form_rest(CSGOform) }}
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                  *Required
                  {{ form_end(CSGOform) }}
                </div>
                <div role="tabpanel" class="tab-pane" id="overwatch">
               {{ form_start(overwatchFrom) }}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(overwatchFrom.skype) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                         {{ form_widget(overwatchFrom.email) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(overwatchFrom.discord) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(overwatchFrom.fullName) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(overwatchFrom.nickname) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                         {{ form_widget(overwatchFrom.whereAreYouFrom) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                         {{ form_widget(overwatchFrom.specs) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(overwatchFrom.age) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(overwatchFrom.rank) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(overwatchFrom.hours) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-textarea form-group">
                         {{ form_widget(overwatchFrom.sr) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(overwatchFrom.platform) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(overwatchFrom.server) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                   {{ form_widget(overwatchFrom.stream) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(overwatchFrom.DuofromOwnAccount) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                         {{ form_widget(overwatchFrom.serviceType) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                     {{ form_widget(overwatchFrom.abilityToUseEnglish) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                      {{ form_widget(overwatchFrom.workOrStudy) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(overwatchFrom.laguage) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(overwatchFrom.testBoost) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                      {{ form_widget(overwatchFrom.persent) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(overwatchFrom.stableInternet) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(overwatchFrom.boosterExperience) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                          {{ form_widget(overwatchFrom.accountScreenShot) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-textarea form-group">
                         {{ form_widget(overwatchFrom.message) }}
                      </div>
                    </div>
                  </div>
                  <div style="display:none">
                     {{ form_widget(overwatchFrom.type, { 'attr': {'value': '3'} }) }}
                    {{ form_rest(overwatchFrom) }}
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                  *Required
                 {{ form_end(overwatchFrom) }}
                </div>
                <div role="tabpanel" class="tab-pane" id="hs">
                 {{ form_start(hearthStoneForm) }}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hearthStoneForm.skype) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hearthStoneForm.email) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hearthStoneForm.discord) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hearthStoneForm.fullName) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hearthStoneForm.battleTag) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hearthStoneForm.whereAreYouFrom) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hearthStoneForm.rank) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hearthStoneForm.age) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-textarea form-group">
                      {{ form_widget(hearthStoneForm.highestRankaccountScreenShot) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                         {{ form_widget(hearthStoneForm.stream) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hearthStoneForm.hours) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                        {{ form_widget(hearthStoneForm.specs) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hearthStoneForm.serviceType) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hearthStoneForm.abilityToUseEnglish) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hearthStoneForm.workOrStudy) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hearthStoneForm.laguage) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hearthStoneForm.testBoost) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hearthStoneForm.persent) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hearthStoneForm.stableInternet) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hearthStoneForm.boosterExperience) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                        {{ form_widget(hearthStoneForm.accountScreenShot) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-textarea form-group">
                       {{ form_widget(hearthStoneForm.message) }}
                      </div>
                    </div>
                  </div>
                  <div style="display:none">
                     {{ form_widget(hearthStoneForm.type, { 'attr': {'value': '4'} }) }}
                    {{ form_rest(hearthStoneForm) }}
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                  *Required
                 {{ form_end(hearthStoneForm) }}
                </div>
                <div role="tabpanel" class="tab-pane" id="dota">
                {{ form_start(dotaForm) }}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                      {{ form_widget(dotaForm.skype) }}
                    </div>
                  </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(dotaForm.email) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(dotaForm.discord) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(dotaForm.fullName) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                      {{ form_widget(dotaForm.steamId) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(dotaForm.whereAreYouFrom) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(dotaForm.server) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                         {{ form_widget(dotaForm.age) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(dotaForm.rank) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(dotaForm.hours) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-textarea form-group">
                        {{ form_widget(dotaForm.highestRankaccountScreenShot) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                      {{ form_widget(dotaForm.specs) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                         {{ form_widget(dotaForm.stream) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(dotaForm.DuofromOwnAccount) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(dotaForm.serviceType) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(dotaForm.abilityToUseEnglish) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                          {{ form_widget(dotaForm.workOrStudy) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(dotaForm.laguage) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(dotaForm.testBoost) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(dotaForm.persent) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(dotaForm.stableInternet) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                      {{ form_widget(dotaForm.boosterExperience) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                      {{ form_widget(dotaForm.accountScreenShot) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-textarea form-group">
                       {{ form_widget(dotaForm.message) }}
                      </div>
                    </div>
                  </div>
                 <div style="display:none">
                    {{ form_widget(dotaForm.type, { 'attr': {'value': '5'} }) }}
                    {{ form_rest(dotaForm) }}
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                  *Required
                  {{ form_end(dotaForm) }}
                </div>
                <div role="tabpanel" class="tab-pane" id="wow">
                  {{ form_start(WoWForm) }}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(WoWForm.skype) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(WoWForm.email) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(WoWForm.discord) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(WoWForm.fullName) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(WoWForm.nickname) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(WoWForm.guildName) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                         {{ form_widget(WoWForm.whereAreYouFrom) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(WoWForm.faction) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(WoWForm.battleTag) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(WoWForm.age) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                        {{ form_widget(WoWForm.specs) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(WoWForm.stream) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(WoWForm.hours) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(WoWForm.serviceType) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                      {{ form_widget(WoWForm.abilityToUseEnglish) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(WoWForm.workOrStudy) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(WoWForm.laguage) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(WoWForm.testBoost) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                      {{ form_widget(WoWForm.persent) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(WoWForm.stableInternet) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(WoWForm.boosterExperience) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                       {{ form_widget(WoWForm.accountScreenShot) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-textarea form-group">
                        {{ form_widget(WoWForm.message) }}
                      </div>
                    </div>
                  </div>
                   <div style="display:none">
                  {{ form_widget(WoWForm.type, { 'attr': {'value': '6'} }) }}
                    {{ form_rest(WoWForm) }}
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                  *Required
               {{ form_end(WoWForm) }}
                </div>
                <div role="tabpanel" class="tab-pane" id="hots">
                 {{ form_start(hotSForm) }}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hotSForm.skype) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hotSForm.email) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hotSForm.discord) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hotSForm.fullName) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hotSForm.battleTag) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hotSForm.whereAreYouFrom) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hotSForm.server) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hotSForm.age) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hotSForm.rank) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hotSForm.hours) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-textarea form-group">
                      {{ form_widget(hotSForm.highestRankaccountScreenShot) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                       {{ form_widget(hotSForm.specs) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hotSForm.stream) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hotSForm.DuofromOwnAccount) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hotSForm.serviceType) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hotSForm.abilityToUseEnglish) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hotSForm.workOrStudy) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hotSForm.laguage) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hotSForm.testBoost) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hotSForm.persent) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                        {{ form_widget(hotSForm.stableInternet) }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="youplay-input form-group">
                       {{ form_widget(hotSForm.boosterExperience) }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-input form-group">
                       {{ form_widget(hotSForm.accountScreenShot) }}
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <div class="youplay-textarea form-group">
                       {{ form_widget(hotSForm.message) }}
                      </div>
                    </div>
                  </div>
                  <div style="display:none">
                  {{ form_widget(hotSForm.type, { 'attr': {'value': '7'} }) }}
                    {{ form_rest(hotSForm) }}
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                  *Required
               {{ form_end(hotSForm) }}
                </div>
              </div>
      
            </div>
            <!-- /Tabs -->

            

          </div>
          <!-- /Contact Form -->
        </div>
        <div class="col-md-3 col-md-pull-9" style="padding-top: 4rem;">
          <h2 class="mt-0">Jobs for boosters!</h2>
          Want to become a booster?
          <br>Need more boosting orders?
          <br>
          <br>Send 1 application to most sites at once!
          <br>Choose best offers of boosting jobs!
          <br>No requrments!
          <br></a>
          <br>
        </div>
      </div>

    </div>
  <!-- /Main Content -->
{% endblock %}
  