{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}
{% block body %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <style type="text/css">
        #example .even { background-color: transparent !important;    border-color: rgba(255,255,255,.1);}
        #example .odd { background-color: transparent !important;}
        #example.dataTable.order-column { background-color: transparent !important;}
        tr{ background-color: transparent !important;}
        th:hover {text-shadow:
               0 0px 2px rgba(255,255,255,.1),
               0 0 10px rgba(255,255,255,.1),
               0 0px 6px rgba(255,255,255,.3),
               0 0px 10px rgba(255,255,255,.2),
               0 0px 20px rgba(255,255,255,.25),
               0 0px 20px rgba(255,255,255,.2),
               0 0px 40px rgba(255,255,255,.15) !important; }
        #example > tbody > tr > td { border-top: 1px solid rgba(255, 255, 255, 0.5)}
        table.dataTable tr.odd { background-color: transparent !important;     border-top: 1px solid rgba(255, 255, 255, 0.5);}
        table.dataTable tr.even { background-color: transparent !important;     border-top: 1px solid rgba(255, 255, 255, 0.5);} 
        table.dataTable.order-column tbody tr{ background-color: transparent !important; } 
        table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 { background-color: transparent !important; }
        .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate { color: white!important; }
        label, .dataTables_info, #example_previous, #example_next, #example_previous { color: white!important; }
        table button {
          background: transparent none repeat scroll 0 0;
          color: white;
          line-height: inherit;
          margin: 0; }
        input, textarea, select {
          content: '';
          background: rgba(255, 255, 255, 0.1);
          color: white;
          outline: none;
          -webkit-transform: skew(-7deg);
              -ms-transform: skew(-7deg);
               -o-transform: skew(-7deg);
                  transform: skew(-7deg);
          -o-transition: .3s background ease;
             transition: .3s background ease; }
        select option {
          background: rgba(0, 0, 0, 1.0); }
        label.input-filled input {
          background: rgba(255, 255, 255, 0.25); }
        label select {
          cursor: pointer; }
        td.details-control {
          background: url('{{asset('image/arrow-down.png')}}') no-repeat center center;
          cursor: pointer; }
        td.details-control:hover {
          background: url('{{asset('image/arrow-down-hover.png')}}') no-repeat center center;
          cursor: pointer; }
        tr.details td.details-control {
          background: url('{{asset('image/arrow-right.png')}}') no-repeat center center; }
        tr.details td.details-control:hover {
          background: url('{{asset('image/arrow-right-hover.png')}}') no-repeat center center; }
        .paginate_button {
          content: '';
          position: relative;
          margin-left: 10px;
          margin-right: 10px;
          padding: 10px 30px;
          z-index: 1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transform: skew(-7deg);
              -ms-transform: skew(-7deg);
               -o-transform: skew(-7deg);
                  transform: skew(-7deg);
          border: 2px solid #fff!important;
          background: none;
          -o-transition: .3s background ease, .3s border ease;
             transition: .3s background ease, .3s border ease; }
        .dataTables_wrapper .dataTables_paginate .paginate_button {
          color: #fff!important;
          border-radius: 0px; }
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
          background: #D92B4C;
          border: 2px solid #D92B4C!important;
          -webkit-transform: skew(-7deg);
              -ms-transform: skew(-7deg);
               -o-transform: skew(-7deg);
          transform: skew(-7deg); }
          .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
          border: none!important; }
          .dataTables_wrapper .dataTables_paginate .paginate_button.current {
          background: #D92B4C!important;
          border: 2px solid #D92B4C!important;
          color: #fff!important; }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
          color: #fff!important;
          cursor: default; }
        .youplay-form {
          background: rgba(0, 0, 0, 0.6); }
    </style>
{% endblock %}

	<!-- Main Content -->
      <div class="nk-page-background" data-bg-mp4="../video/urgot.mp4"></div>
    <!-- Banner -->
      <div class="youplay-banner youplay-banner-parallax banner-top small" style="background: none;">
          <div class="info">
              <div>
                  <div class="container">
                      <h1>List of scammers</h1>
                     	{% for flashMessage in app.session.flashbag.get('error') %}
      	      		        {{ flashMessage }}
		  	      	      {% endfor %}
		  	      
		  	      	      {% for flashMessage in app.session.flashbag.get('success') %}
      	      	     	    {{ flashMessage }}
		  	      	     {% endfor %}
                  </div>
              </div>
          </div>
      </div>
    <!-- /Banner -->

    <div class="container youplay-content mb-140" style="min-height:800px;">
        <div class="row table-responsive youplay-form col-md-12">
            <table id="example" class="row-border" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Details</th>
                        <th>Name</th>
                        <th>IGN</th>
                        <th>Email</th>
                        <th>Skype</th>
                        <th>Contact</th>
                        <th>Action</th>
                        <th>Date</th>
                        <th>Story</th>
                        <th>Id</th>
             
                    </tr>
                </thead>
                <tbody>
                    {% for topicData in topicDatas %}
                        <tr>
                            <td></td>
                            <td>{{topicData.scamerName}}</td>
                            <td>{{topicData.scammerIGN}}</td>
                            <td>{{topicData.scammerEmail}}</td>
                            <td>{{topicData.scammerSkype}}</td>
                            <td>{{topicData.scammerContactApp}}</td>
                            <td><a href='{{ path('singleTopic',{'topic_id':topicData.id} ) }}' class='btn btn-primary'>Forum</a</td>
                            <td>{{topicData.createdAt|date('Y-m-d')}}</td>
                            <th>{{topicData.story | raw}}</th>
                            <td>{{topicData.id}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  <!-- /Main Content -->
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
      
    $(document).ready(function() {
      var dt = $("#example").DataTable({
      responsive: true,
          "order": [[ 0, "desc" ]],
         
         "columnDefs": [
            {
                "targets": [ 8 ],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 9 ],
                "visible": false,
                "searchable": false
            }],
          "columns": [
          {
                "class":          "details-control",
                "orderable":      false,
                "data":           null,
                "defaultContent": ""
            },
              { "data": "scamer_name" },
              { "data": "scammer_ign" },
              { "data": "email" },
              { "data": "scammer_skype"},
              { "data": "scammer_contact_app" },
              { 
                "data": "topicBy" 
              },
             
            { "data": "createdAt" },
            { "data": "story" },
            { "data": "id" }
            ]
       });

      var detailRows = [];
      $('#example tbody').on( 'click', 'tr td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = dt.row( tr );
        var idx = $.inArray( tr.attr('id'), detailRows );
 
        if ( row.child.isShown() ) {
            tr.removeClass( 'details' );
            row.child.hide();
 
            detailRows.splice( idx, 1 );
        }
        else {
            tr.addClass( 'details' );
            row.child( format( row.data() ) ).show();
 
            if ( idx === -1 ) {
                detailRows.push( tr.attr('id') );
            }
        }
      } );
 
      dt.on( 'draw', function () {
        $.each( detailRows, function ( i, id ) {
            $('#'+id+' td.details-control').trigger( 'click' );
        } );
      } );
    } );
    function format ( d ) {
    
        return 'Description: '+d.story;
    
    }
    </script>
{% endblock %}
	